<div [formGroup]="nuevoArchivo">
  <p>
    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Descripción</mat-label>
      <input matInput placeholder="Placeholder" formControlName="description">
      <mat-icon matSuffix>notes</mat-icon>
      <mat-error *ngIf="description.hasError('minlength')">Sea más creativo, mínimo 10 caracteres</mat-error>
      <mat-error *ngIf="description.hasError('pattern')">Error de formato, evite usar comillas dobles " o simples '</mat-error>
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field appearance="outline" class="col-12">
      <mat-label>URL</mat-label>
      <input matInput placeholder="Placeholder" formControlName="url">
      <mat-icon matSuffix>link</mat-icon>
      <mat-error *ngIf="url.hasError('required')">Es requerido un link o url</mat-error>
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field appearance="outline" class="col-12" >
      <mat-select placeholder="Fase" formControlName="fase">
        <mat-option *ngFor="let fase of fases" [value]="fase">
          {{fase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field appearance="outline" class="col-12">
      <mat-select placeholder="Tipo de archivo" formControlName="type">
        <mat-option [value]="'img'">
          Imagen
        </mat-option>
        <mat-option [value]="'file'">
          Archivo
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p> 
</div>
<p class="text-center">
  <button mat-raised-button color="primary" [disabled]="nuevoArchivo.invalid"  (click)="subirArchivo()">Subir</button>
</p>