<div [formGroup]="usuario" class="row justify-content-center">
  <mat-form-field appearance="outline" class="col-10">
    <mat-label>Usuario municipal</mat-label>
    <input matInput placeholder="Nueva sección" formControlName="user">
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-10">
    <mat-label>Nombre del usuario</mat-label>
    <input matInput placeholder="Nueva sección" formControlName="name">
  </mat-form-field>

  <p class="col-10">
    <mat-slide-toggle formControlName="active">Activo</mat-slide-toggle>
  </p>
  <p class="col-10">
    <mat-slide-toggle formControlName="team">Mostrar en equipo</mat-slide-toggle>
  </p>
  <div class="col-10">
    <p>Permisos de usuario</p>
    <mat-checkbox *ngFor="let rol of roles" class="mx-2" [checked]="permissions.value.indexOf(rol) > -1" (change)="cambio($event.checked, rol)">{{rol}}</mat-checkbox>
  </div>
</div>
<p class="text-center">
    <button [disabled]="usuario.invalid" mat-flat-button color="primary" (click)="guardar()">Guardar</button>
</p>
<p class="text-center">
    <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
</p>