<div class="container back">
  <div class="row  justify-content-center" [formGroup]="solicitud" *ngIf="!isDeveloper()">
    <mat-form-field appearance="outline" class="col-10 col-md-8">
      <mat-label>Nombre de la solicitud</mat-label>
      <input matInput placeholder="Nueva solicitud" formControlName="nombre">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-10 col-md-5">
      <mat-label>Tipo de solicitud</mat-label>
      <mat-select placeholder="Tipo de solicitud" formControlName="tipo">
        <mat-option *ngFor="let tipo of tipos" [value]="tipo">
          {{tipo}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-10 col-md-5">
      <mat-label>Sección</mat-label>
      <mat-select placeholder="Seeción a solicitar" formControlName="seccion">
        <mat-option *ngFor="let seccion of secciones" [value]="seccion">
          {{seccion}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-10 col-md-8" *ngIf="solicitud.contains('nueva')">
      <mat-label>Nombre de sección</mat-label>
      <input matInput placeholder="Nueva sección" formControlName="nueva">
    </mat-form-field>

    <div formArrayName="puntos" class="mt-3 col-12">
      <p class="lead text-info text-center">Puntos por cumplir</p>
      <div *ngFor="let punto of puntos.controls; let i = index" class="col-12">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{i+1}}</mat-label>
          <input matInput placeholder="Nuevo requerimiento" [formControlName]="i">
          <mat-icon matSuffix color="warn" (click)="quitarPunto(i)">remove_circle</mat-icon>
          <mat-hint>Se específico con lo que solicita</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 text-center">
      <button class="mt-3" mat-stroked-button color="primary" (click)="agregarPunto()">Agregar punto</button>
    </div>

    <p class="lead text-danger mt-3 col-12" *ngIf="puntos.controls.length == 0">Son requeridos puntos a cumpler que
      describan la nueva funcionalidad</p>

    <div class="col-12 text-center">
      <button class="my-3" mat-stroked-button (click)="registrarSolicitud()" [disabled]="solicitud.invalid || puntos.controls.length == 0">Solicitar</button>
    </div>
  </div>
  <div class="row  justify-content-center" *ngIf="isDeveloper()">
    <p class="lead text-danger">Solicitudes pendientes</p>
    <div *ngIf="requested | async; let solicitudes" class="col-12">
      <p *ngIf="solicitudes.length == 0" class="lead text-danger">No hay solicitudes por el momento</p>
      <mgl-timeline [focusOnOpen]="true" *ngIf="solicitudes.length > 0">
        <mgl-timeline-entry *ngFor="let solicitud of solicitudes" (click)="modificarForm(solicitud)">
          <mgl-timeline-entry-header class="lead text-primary">{{solicitud.id}}. {{solicitud.nombre}}</mgl-timeline-entry-header>
          <mgl-timeline-entry-content>
            <p>Sección: {{solicitud.seccion}}</p>
            <p>Creado: {{solicitud.tsCreated | date : 'dd/MM/yyyy'}}</p>
            <p>Tipo: {{solicitud.tipo}}</p>
            <p>Funcionalidades implementadas:</p>
            <p *ngFor="let punto of solicitud.puntos; let i = index">
              {{i+1}}. {{punto}}
            </p>
          </mgl-timeline-entry-content>
          <mgl-timeline-entry-side>{{solicitud.tsCreated | date: 'dd/MM/yyyy'}}</mgl-timeline-entry-side>
        </mgl-timeline-entry>
      </mgl-timeline>

      <div class="row  justify-content-center" [formGroup]="implementado">
        <mat-form-field appearance="outline" class="col-10 col-md-8">
          <mat-label>Nombre de implementación</mat-label>
          <input matInput placeholder="Nueva solicitud" formControlName="nombre">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-10 col-md-5">
          <mat-label>Tipo de implementación</mat-label>
          <mat-select placeholder="Tipo de solicitud" formControlName="tipo">
            <mat-option *ngFor="let tipo of tipos" [value]="tipo">
              {{tipo}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-10 col-md-5">
          <mat-label>Sección</mat-label>
          <mat-select placeholder="Seeción a solicitar" formControlName="seccion">
            <mat-option *ngFor="let seccion of secciones" [value]="seccion">
              {{seccion}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-10 col-md-8" *ngIf="implementado.contains('nueva')">
          <mat-label>Nombre de sección</mat-label>
          <input matInput placeholder="Nueva sección" formControlName="nueva">
        </mat-form-field>

        <div formArrayName="implementados" class="mt-3 col-12">
          <p class="lead text-info text-center">Puntos implementados</p>
          <div *ngFor="let punto of implementados.controls; let i = index" class="col-12">
            <mat-form-field appearance="outline" class="col-12">
              <mat-label>{{i+1}}</mat-label>
              <input matInput placeholder="Nuevo funcionalidad" [formControlName]="i">
              <mat-icon matSuffix color="warn" (click)="quitarImplementacion(i)">remove_circle</mat-icon>
              <mat-hint>Se específico con lo que se implemento</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="col-12 text-center">
          <button class="mt-3" mat-stroked-button color="primary" (click)="agregarImplementacion()">Agregar
            implementación</button>
        </div>

        <p class="lead text-danger mt-3 col-12" *ngIf="puntos.controls.length == 0">Son requeridas implementaciones que
          describan la nueva funcionalidad</p>

        <div class="col-12 text-center">
          <button class="my-3" mat-stroked-button (click)="finalizarSoliciud()" [disabled]="implementado.invalid || implementados.controls.length == 0">Aplicar</button>
        </div>
      </div>
    </div>
  </div>
</div>
