<div class="row justify-content-center">
    <h2 class="col-12 text-center mb-3 text-primary">Control de calidad
        <fa-icon class="sync" [icon]="sync" [spin]="true" *ngIf="trabajando"></fa-icon>
    </h2>
</div>
<div class="row mx-3 justify-content-center animated fadeIn " *ngIf="!editando">
    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="!(calidad$ | async)">No hay información de control de calidad definida para este proyecto</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(calidad$ | async)?.estado ; let estado">
        <b>Estado: </b>{{estado}}</p>
</div>

<div class="row mx-3 justify-content-center animated fadeIn " *ngIf="editando">

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Estado</mat-label>
        <mat-select placeholder="Estado de control calidad" [(ngModel)]="newCalidad.estado">
            <mat-option [value]="estado" *ngFor="let estado of estados">{{estado}}</mat-option>
        </mat-select>
    </mat-form-field>

</div>

<div class="row mt-3 justify-content-center d-print-none" *ngIf="editor">
    <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-md-5 col-10 m-2 animated fadeIn" (click)="editarDatos()" *ngIf="!editando">Editar
    <fa-icon [icon]="editar"></fa-icon>
  </button>
    <button type="button" [disabled]="trabajando" class="btn btn-outline-primary col-5 m-2 animated fadeIn" (click)="guardarCalidad()" *ngIf="editando">Guardar
    <fa-icon [icon]="guardar"></fa-icon>
  </button>
    <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-5 m-2 animated fadeIn" (click)="cancelarCalidad()" *ngIf="editando">Cancelar
    <fa-icon [icon]="cancelar"></fa-icon>
  </button>
</div>