<div class="container back">
  <p class="text-center pt-3">
      <button mat-raised-button color="primary" (click)="nuevoUsuario()">Agregar usuario</button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Datos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios | async" [ngClass]="{'table-primary': usuario.active}">
        <td scope="row" class="lead"><button mat-raised-button color="primary" (click)="editarUsuario(usuario)">{{usuario.user | uppercase}}</button></td>
        <td class="text-center">
          <div class="col-12 lead"><strong>{{usuario.name}}</strong></div>
          <div class="col-12"><strong>Equipo: </strong>{{usuario.team ? 'Listado': 'Sin listar'}}</div>
          <div *ngIf="usuario.permissions.length > 0" class="col-12">
            <div class="lead mt-2">Permisos:</div>
            <div  *ngFor="let permiso of usuario.permissions">*{{permiso}}</div>
          </div>
          <div *ngIf="usuario.permissions.length == 0" class="col-12">
            <div class="lead mt-2 text-danger">Sin permisos</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>