<app-encabezado [header]="'Seguimiento de proyectos'" [loading]="consultando"></app-encabezado>
<div class="container">
    <div class="row justify-content-center d-print-none back pt-3 mat-elevation-z20" [formGroup]="accionFG">
        <mat-form-field appearance="outline" class="col-10 col-lg-5">
            <mat-label>Acción Ejecutada</mat-label>
            <mat-select placeholder="Ejecutar" formControlName="ejecutada" multiple>
                <mat-option *ngFor="let accion of (parametros | async)?.acciones" [value]="accion">
                    {{accion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-10 col-lg-5">
            <mat-label>Acción por ejecutar</mat-label>
            <mat-select placeholder="Ejecutada" formControlName="ejecutar" multiple>
                <mat-option *ngFor="let accion of (parametros | async)?.acciones" [value]="accion">
                    {{accion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="text-center pb-3 col-12">
            <button mat-raised-button color="primary" [disabled]="!accionFG.dirty || accionFG.value.ejecutada.length == 0 && accionFG.value.ejecutar.length == 0"
                (click)="generarReporte()">Generar reporte</button>
        </div>
    </div>
    <p class="lead my-1 text-center my-3 text-danger" *ngIf="consultando">Consultando proyectos
        <fa-icon [icon]="loading" [spin]="true"></fa-icon>
    </p>
    <p class="lead my-1 text-center my-3 text-danger" *ngIf="proyectos.length == 0 && !consultando">No hay proyectos que mostrar</p>
    <div class="d-none d-print-flex row justify-content-center" *ngIf="accionFG.value.ejecutada.length > 0 || accionFG.value.ejecutar.length > 0">
        <p class="lead text-center col-12">Criterios de busqueda</p>
            <ul class="list-group col-6" *ngIf="accionFG.value.ejecutada.length > 0">
                <li class="list-group-item active text-center">Acciones ejecutadas</li>
                <li class="list-group-item" *ngFor="let ejecutada of accionFG.value.ejecutada">{{ejecutada}}</li>

            </ul>
            <ul class="list-group col-6" *ngIf="accionFG.value.ejecutar.length > 0">
                <li class="list-group-item active text-center">Acciones ejecutadas</li>
                <li class="list-group-item" *ngFor="let ejecutar of accionFG.value.ejecutar">{{ejecutar}}</li>
            </ul>
    </div>
    <p class="lead text-center text-danger mt-3" *ngIf="proyectos.length >  0">Proyectos encontrados: {{proyectos.length}}</p>
    <table matSort (matSortChange)="sortData($event)" *ngIf="sortedData && !consultando && proyectos.length >  0" class="mat-elevation-z20 table-striped table-hover my-5 d-none d-md-block back">
        <tr>
            <th mat-sort-header="nombre" class="col-8">Proyecto</th>
            <th mat-sort-header="expediente" class="col">Expediente</th>
            <th mat-sort-header="fase" class="col">Fase</th>
            <th mat-sort-header="ejecutado" class="col">Ejecutada</th>
            <th mat-sort-header="ejecutar" class="col">Ejecutar</th>
        </tr>

        <tr *ngFor="let proyecto of sortedData" class="my-2">
            <th class="col-8 btn-link" (click)="irProyecto(proyecto.proId)">{{proyecto.nombre}}</th>
            <td class="col">{{proyecto.expediente}}</td>
            <td class="col text-center">{{proyecto.fase || 'Sin fase'}}</td>
            <td class="col text-center">{{proyecto.ejecutado || 'Sin accion ejecutada'}}</td>
            <td class="col text-center">{{proyecto.ejecutar || 'Sin accion por ejecutar'}}</td>
        </tr>
    </table>

    <div class="d-md-none mt-5 animated fadeIn" *ngIf="sortedData && !consultando && proyectos.length >  0">
        <div *ngFor="let proyecto of proyectos" class="row justify-content-center" class="mb-4 border">
            <div class="col-12 text-justify btn-link" (click)="irProyecto(proyecto.proId)">
                <b class="lead text-primary">
                    {{proyecto.nombre}}
                </b>
            </div>
            <div class="row col-12 justify-content-between mt-2">
                <div class="col-6"> {{proyecto.expediente}}</div>
                <div class="col-6">{{proyecto.fase || 'Sin fase'}}</div>
            </div>
            <div class="row col-12 justify-content-between">
                <div class="col-6 text-info"> {{proyecto.ejecutado || 'Sin accion ejecutada'}}</div>
                <div class="col-6 text-danger"> {{proyecto.ejecutar || 'Sin accion por ejecutar'}}</div>
            </div>

        </div>
    </div>
</div>