<div class="row justify-content-center">
    <h2 class="col-12 text-center mb-3 text-primary">Costos del proyecto
        <fa-icon class="sync" [icon]="sync" [spin]="true" *ngIf="trabajando"></fa-icon>
    </h2>
</div>
<div class="row mx-3 justify-content-center animated fadeIn " *ngIf="!editando">
    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="!(costos$ | async)">No hay información de costos
        definida para este proyecto</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.procedencia; let procedencia">
        <b>Procedencia: </b>‎{{procedencia}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.estimado; let estimado">
        <b>Estimado: </b>‎₡{{estimado | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.prevision; let prevision">
        <b>Previsión: </b>‎₡{{prevision | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.adjudicado; let adjudicado">
        <b>Adjudicado: </b>‎₡{{adjudicado | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.calidad; let calidad">
        <b>Control calidad: </b>‎₡ {{calidad | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.comunales; let comunales">
        <b>Comunales: </b>‎₡{{comunales | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.ordenServicio; let ordenServicio">
        <b>Orden de servicio: </b>‎₡{{ordenServicio | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.especie; let especie">
        <b>Aportes en especie: </b>‎₡{{especie | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.especifica; let especifica">
        <b>Partida específica: </b>‎₡{{especifica | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.ampliacion; let ampliacion">
        <b>Ampliación: </b>‎₡{{ampliacion | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.reajuste; let reajuste">
        <b>Reajuste: </b>‎₡{{reajuste | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.instituciones; let instituciones">
        <b>Instituciones: </b>‎₡{{instituciones | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.extra1; let extra1">
        <b>Extra 1: </b>‎₡{{extra1 | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(costos$ | async)?.extra2; let extra2">
        <b>Extra 2: </b>‎₡{{extra2 | number : '1.2-3'}}</p>

    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="administrativo">
        <b>Costo administrativo: </b>‎₡{{administrativo | number : '1.2-3'}}</p>

</div>
<div class="row mx-3 justify-content-center animated fadeIn mt-3" *ngIf="!editando && costoTotal">
    <h3 class="col-12 text-center text-danger mb-3">
        Costos real del proyecto: ₡{{costoTotal | number : '1.2-3'}}
    </h3>
    <div class="text-center my-1 col-12 col-md-6">
        <canvas width="100%" height="100%" baseChart [data]="chart.data" [labels]="chart.labels" [legend]="true"
            [chartType]="'pie'" [options]="incomeOptions"></canvas>
    </div>
</div>

<div class="row mx-3 justify-content-center animated fadeIn d-print-none" *ngIf="editando" [formGroup]="costos">

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Procedencia</mat-label>
        <input matInput placeholder="Procedencia de los recursos" formControlName="procedencia">
        <mat-error *ngIf="costos.get('procedencia').hasError('pattern')">Error de formato, evite usar comillas dobles "
            o simples '</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Estimado</mat-label>
        <input type="number" matInput placeholder="Estimado de los costos" formControlName="estimado">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Previsión</mat-label>
        <input type="number" matInput placeholder="Previsión de los costos" formControlName="prevision">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Adjudicado</mat-label>
        <input type="number" matInput placeholder="Adjudicado para el proyecto" formControlName="adjudicado">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Control de calidad</mat-label>
        <input type="number" matInput placeholder="Costos de control de calidad" formControlName="calidad">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Aportes comunales</mat-label>
        <input type="number" matInput placeholder="Aportes comunales realizados" formControlName="comunales">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Orden de servicio</mat-label>
        <input type="number" matInput placeholder="Orden de servicio" formControlName="ordenServicio">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Aportes en especie</mat-label>
        <input type="number" matInput placeholder="Aportes en especie" formControlName="especie">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Partida específica</mat-label>
        <input type="number" matInput placeholder="Partida específica" formControlName="especifica">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Costos de ampliación</mat-label>
        <input type="number" matInput placeholder="Costos de ampliación" formControlName="ampliacion">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Costos de reajuste</mat-label>
        <input type="number" matInput placeholder="Costos de reajuste" formControlName="reajuste">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Aportes de instituciones</mat-label>
        <input type="number" matInput placeholder="Aportes de instituciones" formControlName="instituciones">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Costo extra 1</mat-label>
        <input type="number" matInput placeholder="Costos de reajuste" formControlName="extra1">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Costo extra 2</mat-label>
        <input type="number" matInput placeholder="Costo extra 2" formControlName="extra2">
    </mat-form-field>
</div>

<div class="row mt-3 justify-content-center d-print-none" *ngIf="editor">
    <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-md-5 col-10 m-2 animated fadeIn"
        (click)="editarDatos()" *ngIf="!editando">Editar
        <fa-icon [icon]="editar"></fa-icon>
    </button>
    <button type="button" [disabled]="trabajando || costos.invalid" class="btn btn-outline-primary col-5 m-2 animated fadeIn" (click)="guardarCostos()"
        *ngIf="editando">Guardar
        <fa-icon [icon]="guardar"></fa-icon>
    </button>
    <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-5 m-2 animated fadeIn" (click)="cancelarCostos(); ins= null"
        *ngIf="editando">Cancelar
        <fa-icon [icon]="cancelar"></fa-icon>
    </button>
</div>