<div class="row justify-content-center">
    <h2 class="col-12 text-center mb-3 text-primary">Mensajería del proyecto</h2>
</div>

<div class="mx-3 animated fadeIn">
    <p class="lead col-sm-12 my-1 text-center text-danger" *ngIf="sinMiembros">Defina miembros de equipo para enviar
        mensajes</p>

    <div *ngIf="lineasMensajes | async as mensajes">
        <div class="container">
            <p class="text-center">
                <button mat-raised-button (click)="verMas()" *ngIf="mensajes.length > 5 && final(mensajes.length)">Cargar
                    antiguos</button>
            </p>
            <div class="row justify-content-start" *ngFor="let mensaje of mensajes$ | async" [ngClass]="{'justify-content-end': mensaje.usuario ==  usuario}">
                <div class="alert alert-danger lead ml-5 text-dark" role="alert" *ngIf="mensaje.usuario ===  usuario"
                    matTooltip="{{momentTS(mensaje.ts)}}" [matTooltipShowDelay]="500" [matTooltipHideDelay]="1500"
                    [matTooltipPosition]="'above'">
                    {{mensaje.mensaje}}
                </div>

                <div class="alert alert-primary lead mr-5 text-dark" role="alert" *ngIf="mensaje.usuario !==  this.usuario"
                    matTooltip="{{momentTS(mensaje.ts)}}" [matTooltipShowDelay]="500" [matTooltipHideDelay]="1500"
                    [matTooltipPosition]="'above'">
                    <span class="text-monospace">{{mensaje.usuario | uppercase}}:</span> {{mensaje.mensaje}}
                </div>
            </div>
        </div>
        <p *ngIf="mensajes.length == 0" class="lead col-sm-12 my-1 text-center">No hay mensajes enviados para este proyecto</p>
    </div>


    <div class="row justify-content-center" *ngIf="!sinMiembros && editor">
        <mat-form-field appearance="outline" class="col-8">
            <mat-label>Nuevo mensaje</mat-label>
            <input matInput placeholder="Escriba un nuevo mensaje" [formControl]="nuevoMensaje">
            <fa-icon matSuffix [icon]="bien" class="animated flipInY" *ngIf="nuevoMensaje.touched && nuevoMensaje.valid"></fa-icon>
            <fa-icon matSuffix [icon]="mal" class="animated flipInY" *ngIf="nuevoMensaje.touched && nuevoMensaje.invalid"></fa-icon>
            <mat-hint *ngIf="nuevoMensaje.touched && nuevoMensaje.invalid">El mensaje de contener al menos 10
                caracteres</mat-hint>
            <mat-error *ngIf="nuevoMensaje.hasError('pattern')">Error de formato, evite usar comillas dobles " o
                simples '</mat-error>
        </mat-form-field>
        <button *ngIf="!enviando" mat-icon-button class="mt-2" color="warn" [disabled]="nuevoMensaje.invalid" (click)="enviarMensaje()">
            <fa-icon [icon]="enviar" size="3x"></fa-icon>
        </button>
        <button *ngIf="enviando" mat-icon-button class="mt-2" color="warn">
            <fa-icon [icon]="faSpinner" [pulse]="true" size="3x"></fa-icon>
        </button>
    </div>
</div>