<div class="animated fadeIn">
    <h3 class="text-center text-info">{{(riesgos | async).length}} riesgos disponibles para usar</h3>
    <h3 class="text-center text-danger d-block d-md-none">Buscador de riesgo disponible unicamente en pantallas grandes</h3>

    <mat-form-field appearance="outline" class="col-12">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="riesgoId">
            <th mat-header-cell *matHeaderCellDef><mat-icon>edit</mat-icon></th>
            <td mat-cell *matCellDef="let riesgo">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="agregar(riesgo)">
                        <mat-icon>add_circle</mat-icon>
                        <span>Agregar al proyecto</span>
                    </button>
                    <button mat-menu-item (click)="copiar(riesgo)">
                        <mat-icon>file_copy</mat-icon>
                        <span>Duplicar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <ng-container matColumnDef="fase">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fase </th>
            <td mat-cell *matCellDef="let riesgo"> {{riesgo.fase}} </td>
        </ng-container>

        <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
            <td mat-cell *matCellDef="let riesgo"> {{riesgo.categoria}} </td>
        </ng-container>

        <ng-container matColumnDef="subcategoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoria </th>
            <td mat-cell *matCellDef="let riesgo"> {{riesgo.subcategoria}} </td>
        </ng-container>

        <ng-container matColumnDef="causa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Causa </th>
            <td mat-cell *matCellDef="let riesgo"> {{riesgo.causa}} </td>
        </ng-container>

        <ng-container matColumnDef="consecuencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Consecuencia </th>
            <td mat-cell *matCellDef="let riesgo"> {{riesgo.consecuencia}} </td>
        </ng-container>

        <ng-container matColumnDef="actividad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actividad </th>
            <td mat-cell *matCellDef="let riesgo"> {{riesgo.actividad}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

    <mat-card *ngIf="!formNuevoRiesgo" class="mat-elevation-z8 mt-4">
        <p>
            No existe el riesgo! Duplique un riesgo de la lista con las opciones del inicio, o inicie uno en blanco
            presionando el botón
        </p>
        <p class="text-center">
            <button mat-raised-button (click)="nuevoRiesgo()">Nuevo riesgo</button>
        </p>
    </mat-card>

    <div *ngIf="formNuevoRiesgo" [formGroup]="formNuevoRiesgo" class="animated fadeIn d-md-block d-none mt-4">
        <div class="row">

            <mat-form-field appearance="outline" class="col-md-6 col-lg-4 mt-3">
                <mat-select placeholder="Fase" formControlName="fase">
                    <mat-option [value]="fase.nom" *ngFor="let fase of fases">{{fase.nom}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6 col-lg-4 mt-3">
                <mat-select placeholder="Categoría" formControlName="categoria" (valueChange)="setSubcategorias($event)">
                    <mat-option [value]="categoria.nom" *ngFor="let categoria of categorias">{{categoria.nom}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6 col-lg-4 mt-3">
                <mat-select placeholder="Subcategoría" formControlName="subcategoria">
                    <mat-option [value]="subcategoria.nom" *ngFor="let subcategoria of subCategorias">{{subcategoria.nom}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6 col-lg-4 mt-3">
                <mat-label>Causa</mat-label>
                <input matInput placeholder="Causa" formControlName="causa">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6 col-lg-4 mt-3">
                <mat-label>Consecuencia</mat-label>
                <input matInput placeholder="Consecuencia" formControlName="consecuencia">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6 col-lg-4 mt-3">
                <mat-label>Actividad</mat-label>
                <input matInput placeholder="Actividad" formControlName="actividad">
            </mat-form-field>

        </div>

        <div class="row justify-content-center mt-3">
            <div class="col text-center">
                <button type="button" class="btn btn-outline-info" (click)="insertaRiesgo()" [disabled]="guardando || formNuevoRiesgo.invalid">Guardar</button>
            </div>
            <div class="col text-center">
                <button type="button" class="btn btn-outline-warning" (click)="borrar()" [disabled]="guardando">Borrar</button>
            </div>
            <div class="col text-center">
                <button type="button" class="btn btn-outline-danger" (click)="cancelar()" [disabled]="guardando">Cancelar</button>
            </div>
        </div>
    </div>
</div>