<div class="container mt-5 text-center">
    <img src="assets/icons/gv-icon-512x512.png" class="max mb-5" alt="Gestión Vial Pérez Zeledón">
    <div class="row justify-content-center back py-3">
        <p>
            <mat-form-field appearance="outline" class="mx-2">
                <mat-label>Usuario municipal</mat-label>
                <input matInput placeholder="Usuario MPZ" #user>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mx-2">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Clave MPZ" #password (keyup.enter)="login(user.value, password.value)">
            </mat-form-field>
        </p>
        <div class="col-12">
            <button [disabled]="consultando" type="button" class="btn btn-primary" (click)="login(user.value, password.value)">Iniciar sesión
        <fa-icon [icon]="loginIcon" *ngIf="!consultando"></fa-icon>
        <fa-icon [icon]="spinner" [spin]="true" *ngIf="consultando"></fa-icon>
      </button>
        </div>
    </div>
</div>