<mat-nav-list>
    <mat-list-item (click)="seleccionar(proyecto)" *ngFor="let proyecto of proyectos">
      <span mat-line>{{proyecto.expediente}}</span>
      <span mat-line>{{proyecto.sinonimo}}</span>
    </mat-list-item>
  </mat-nav-list>