<p mat-line class="text-primary" *ngIf="camino.expediente"><b>Expediente: </b>{{camino.expediente}}</p>
<p mat-line *ngIf="camino.nombre"><b>Nombre: </b>{{camino.nombre}}</p>
<p mat-line *ngIf="camino.sinonimo"><b>Sinonimo: </b>{{camino.sinonimo}}</p>
<p mat-line *ngIf="camino.portafolio"><b>Portafolio: </b>{{camino.portafolio}}</p>
<p mat-line *ngIf="camino.prioridad"><b>Prioridad: </b>{{camino.prioridad}}</p>
<p mat-line *ngIf="camino.programa"><b>Programa: </b>{{camino.programa}}</p>
<p mat-line class="text-primary">{{camino.codigo}}</p>
<p mat-line *ngIf="camino.long"><b>Longitud : </b>{{camino.long || 'No definido'}} Km</p>
<p mat-line *ngIf="camino.anchoReal"><b>Ancho real: </b>{{camino.anchoReal || 'No definido'}} m</p>
<p mat-line *ngIf="camino.anchoSuper"><b>Ancho Superficie: </b>{{camino.anchoSuper || 'No definido'}} m</p>
<p mat-line *ngIf="camino.categoria"><b>Categoria: </b>{{camino.categoria || 'No definido'}}</p>
<p mat-line *ngIf="camino.estado"><b>Estado: </b>{{camino.estado || 'No definido'}}</p>
<p mat-line *ngIf="camino.de"><b>De: </b>{{camino.de}}</p>
<p mat-line *ngIf="camino.a"><b>A: </b>{{camino.a}}</p>
<p mat-line *ngIf="camino.derechoVia"><b>Derecho Via: </b>{{camino.derechoVia || 'No definido'}}</p>
<p mat-line *ngIf="camino.plano"><b>Plano: </b>{{camino.plano || 'No definido'}}</p>
<p mat-line *ngIf="camino.finca"><b>Finca: </b>{{camino.finca || 'No definido'}}</p>
<p mat-line *ngIf="camino.asfalto"><b>Asfalto: </b>{{camino.asfalto || 'No definido'}}</p>
<p mat-line *ngIf="camino.cementado"><b>Cementado: </b>{{camino.cementado || 'No definido'}}</p>
<p mat-line *ngIf="camino.lastre"><b>Lastre: </b>{{camino.lastre || 'No definido'}}</p>
<p mat-line *ngIf="camino.tierra"><b>Tierra: </b>{{camino.tierra || 'No definido'}}</p>
<p class="text-center"> 
    <button mat-raised-button (click)="salir()">Cerrar</button>
</p>