<div class="container d-print-none">
    <div class="jumbotron jumbotron-fluid mt-3 mat-elevation-z24 radius">
        <h1 class="display-4 text-center text-primary">{{head}}
            <fa-icon class="sync" [icon]="sync" [spin]="true" *ngIf="trabajando"></fa-icon>
        </h1>
    </div>
</div>
<div class="d-none d-print-block">
    <app-logo-usuario [header]="head"></app-logo-usuario>
</div>