<app-encabezado [header]="'Proyectos por portafolio o programa'"></app-encabezado>
<div class="container d-print-none back  mat-elevation-z20">
  <div class="row justify-content-center d-print-none pt-3 " [formGroup]="filtros" *ngIf="parametros | async as params">

    <mat-form-field *ngIf="!complete" appearance="outline" class="col-10 col-lg-5">
      <mat-label>Portafolio por filtrar</mat-label>
      <mat-select placeholder="Portafolio por filtrar" formControlName="portafolio" multiple>
        <mat-option *ngFor="let portafolio of params?.portafolios" [value]="portafolio.name">
          {{portafolio.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!complete" appearance="outline" class="col-10 col-lg-5">
      <mat-label>Programas</mat-label>
      <mat-select placeholder="Programas" formControlName="programa" multiple>
        <mat-option *ngFor="let programa of params?.programas" [value]="programa.name">
          {{programa.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-progress-bar mode="query" *ngIf="consultando"></mat-progress-bar>
    <div class="d-print-none text-center pb-3 col-10 top">
      <button mat-raised-button color="primary" (click)="generarReporte()" *ngIf="!complete"
        [disabled]="consultando">Generar
        reporte</button>
      <button mat-raised-button color="primary" (click)="reset()" class="space" *ngIf="complete">
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="d-none d-print-flex card " fxLayoutAlign="space-around" fxLayout="row wrap">

  <p class="lead text-center" fxFlex="100%">Criterios de busqueda</p>
  <ul class="list-group" fxFlex="45%" *ngIf="filtros.value.portafolio && filtros.value.portafolio.length > 0">
    <li class="list-group-item text-center">Portafolios</li>
    <li class="list-group-item" *ngFor="let portafolio of filtros.value.portafolio">{{portafolio}}</li>
  </ul>
  <ul class="list-group" fxFlex="45%" *ngIf="filtros.value.programa && filtros.value.programa.length > 0">
    <li class="list-group-item text-center">Programas</li>
    <li class="list-group-item" *ngFor="let programa of filtros.value.programa">{{programa}}</li>
  </ul>
</div>

<ng-container *ngIf="result | async as datos">
  <div class="container">
    <mat-card class="card" *ngIf="datos.totalidad">
      <mat-card-header>
        <mat-card-title>Costo real de los proyectos: ₡{{datos.totalidad.costoReal | number : '1.2-3'}}</mat-card-title>
        <mat-card-subtitle>Población beneficiada: {{datos.totalidad.poblacion | number }} </mat-card-subtitle>
        <mat-card-subtitle>Inversión por habitante: ₡{{datos.totalidad.costoReal/datos.totalidad.poblacion | number }}
        </mat-card-subtitle>
        <mat-card-subtitle>Volumen de proyetos: {{datos.totalidad.volumen | number }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="space-around" fxLayout="row wrap">
        <div *ngIf="datos.portafolios | chart as data" fxLayout="row wrap" fxFlex="90%">
          <div *ngIf="data.labels.length > 1 && datos.totalidad.costoReal > 0">
            <canvas width="400" height="400" baseChart [datasets]="[{data: data.costo, label: 'Costo'}]"
              [labels]="data.labels" style="display: block;" [chartType]="chartType" [options]="chartOptions"
              [legend]="true" [colors]="costoColor">
            </canvas>
          </div>

          <div *ngIf="data.labels.length > 1 && datos.totalidad.poblacion > 0">
            <canvas width="400" height="400" baseChart [datasets]="[{data: data.poblacion, label: 'Población'}]"
              [labels]="data.labels" style="display: block;" [chartType]="chartType" [options]="chartOptions"
              [legend]="true" [colors]="poblacionColor">
            </canvas>
          </div>

          <div *ngIf="data.labels.length > 1 && datos.totalidad.volumen > 1">
            <canvas width="400" height="400" baseChart [datasets]="[{data: data.volumen, label: 'Volumen'}]"
              [labels]="data.labels" style="display: block;" [chartType]="chartType" [options]="chartOptionsQuantity"
              [legend]="true" [colors]="volumenColor">
            </canvas>
          </div>

          <div *ngIf="data.labels.length > 1 && datos.totalidad.costoReal>0 && datos.totalidad.poblacion > 0 ">
            <canvas width="400" height="400" baseChart [datasets]="[{data: data.percapita, label: 'Percapita'}]"
              [labels]="data.labels" style="display: block;" [chartType]="chartType" [options]="chartOptions"
              [legend]="true" [colors]="percapitaColor">
            </canvas>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" *ngFor="let portafolio of datos.portafolios; let i = index"
      [ngClass]="{'d-print-none': !portafolios[i].print}">
      <mat-slide-toggle class="d-print-none" [checked]="portafolios[i].print"
        (change)="portafolios[i].print=!portafolios[i].print">
        Imprimir <mat-icon>print</mat-icon>
      </mat-slide-toggle>
      <mat-card-header>
        <mat-icon mat-card-avatar>folder</mat-icon>
        <mat-card-title>{{portafolio.portafolio}}</mat-card-title>
        <mat-card-subtitle>Costo real del portafolio: ₡{{portafolio.sumatoria.costoReal  | number : '1.2-3'}}
        </mat-card-subtitle>
        <mat-card-subtitle>Población: {{portafolio.sumatoria.poblacion  | number}} </mat-card-subtitle>
        <mat-card-subtitle>Volumen de proyectos: {{portafolio.sumatoria.volumen}} </mat-card-subtitle>
        <mat-card-subtitle *ngIf="portafolio.sumatoria.costoReal>0 && portafolio.sumatoria.poblacion > 0 ">Inversión
          PerCápita:
          ₡{{portafolio.sumatoria.costoReal / portafolio.sumatoria.poblacion  | number}} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayoutAlign="space-around" fxLayout="row wrap">
        <div *ngIf="portafolio | chart as data" fxLayout="row wrap" fxFlex="90%">
          <div *ngIf="data.labels.length > 1 && portafolio.sumatoria.costoReal > 0">
            <canvas width="400" height="400" baseChart [datasets]="[{data: data.costo, label: 'Costo'}]"
              [labels]="data.labels" style="display: block;" [chartType]="chartType" [options]="chartOptions"
              [legend]="true" [colors]="costoColor">
            </canvas>
          </div>

          <div *ngIf="data.labels.length > 1 && portafolio.sumatoria.poblacion > 0">
            <canvas width="400" height="400" baseChart [datasets]="[{data: data.poblacion, label: 'Población'}]"
              [labels]="data.labels" style="display: block;" [chartType]="chartType" [options]="chartOptions"
              [legend]="true" [colors]="poblacionColor">
            </canvas>
          </div>

          <div *ngIf="data.labels.length > 1 && portafolio.sumatoria.volumen > 1">
            <canvas width="400" height="400" baseChart [datasets]="[{data: data.volumen, label: 'Volumen'}]"
              [labels]="data.labels" style="display: block;" [chartType]="chartType" [options]="chartOptionsQuantity"
              [legend]="true" [colors]="volumenColor">
            </canvas>
          </div>

          <div
            *ngIf="data.labels.length > 1 && portafolio.sumatoria.costoReal>0 && portafolio.sumatoria.poblacion > 0 ">
            <canvas width="400" height="400" baseChart [datasets]="[{data: data.percapita, label: 'Percapita'}]"
              [labels]="data.labels" style="display: block;" [chartType]="chartType" [options]="chartOptions"
              [legend]="true" [colors]="percapitaColor">
            </canvas>
          </div>
        </div>
      </mat-card-content>
      <mat-card *ngFor="let programa of portafolio.sumatorias" class="card" style="page-break-inside: avoid;">
        <mat-card-header>
          <mat-card-title>{{programa.programa}}</mat-card-title>
          <mat-card-subtitle>Costo real del programa: ₡{{programa.sumatoria.costoReal  | number : '1.2-3'}}
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="programa.sumatoria.poblacion>0">Población:
            {{programa.sumatoria.poblacion  | number}} </mat-card-subtitle>
          <mat-card-subtitle *ngIf="programa.sumatoria.costoReal>0 && programa.sumatoria.poblacion>0 ">Inversión
            PerCápita:
            ₡{{programa.sumatoria.costoReal / programa.sumatoria.poblacion  | number}} </mat-card-subtitle>
          <mat-card-subtitle>Volumen de proyectos: {{programa.sumatoria.proyectos.length}} </mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </mat-card>

    <div fxLayoutAlign="space-around" class="d-print-none">
      <button mat-raised-button *ngFor="let portafolio of portafoliosPrint; let i = index" (click)="setToPrint(i)"
        [ngClass]="{print: portafoliosPrint[i].print}">{{portafolio.portafolio}}</button>
    </div>

    <mat-card class="card" [ngClass]="{'d-print-none': !portafoliosPrint[i].print}"
      *ngFor="let portafolio of datos.portafolios; let i = index">
      <mat-card-header>
        <mat-icon mat-card-avatar>folder</mat-icon>
        <mat-card-title>{{portafolio.portafolio}}</mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayoutAlign="space-around" fxLayout="row wrap"
        *ngFor="let sumatoria of portafolio.sumatorias">
        <h3>{{sumatoria.programa}}</h3>
        <mat-card *ngFor="let proyecto of sumatoria.sumatoria.proyectos" class="card" fxFlex="100%">
          <mat-card-header>
            <mat-card-title>{{proyecto.expediente}}</mat-card-title>
            <mat-card-subtitle class="name">{{proyecto.nombre}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="proyecto.porcentaje">Avance: {{proyecto.porcentaje}}%</mat-card-subtitle>
            <mat-card-subtitle>Costo real del proyecto: ₡{{proyecto.costoReal | number : '1.2-3'}}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="proyecto.poblacion>0">Población:
              {{proyecto.poblacion  | number}} </mat-card-subtitle>
            <mat-card-subtitle *ngIf="proyecto.costoReal>0 && proyecto.poblacion>0 ">Inversión
              PerCápita:
              ₡{{proyecto.costoReal / proyecto.poblacion  | number}} </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-card-content>

    </mat-card>

  </div>
</ng-container>
