.space {
  margin-left: 2rem;
}

.card {
  margin: 1rem;
}

@media print {
  .card {
    page-break-inside: avoid;
    margin: 0.2rem;
  }
}

.top {
  margin-top: 1rem;
}

.print {
  background: #1894c3;
  color: black;
}

.name {
  color: black;
  font-size: 18px;
}