<article class="container">
  <section class="mt-3">
    <mat-tab-group mat-align-tabs="center">
      <!-- Ciudades  -->
      <mat-tab label="Centro poblacional" class="text-center">
        <h3 class="text-center mt-3 mat-h1">Agregar centro poblacional</h3>

        <div [formGroup]="city">
          <p class="text-center">
            <mat-form-field appearance="outline" class="mt-3">
              <mat-label>Distritos</mat-label>
              <mat-select placeholder="Distritos" formControlName="district" (selectionChange)="filtrarCiudadesA($event.value)">
                <mat-option *ngFor="let distrito of parametros.distritos" [value]="distrito.id">{{distrito.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p class="text-center">
            <mat-form-field appearance="outline">
              <mat-label>Nombre del centro poblacional</mat-label>
              <input matInput placeholder="Nombre de ciudad" formControlName="name">
            </mat-form-field>
          </p>

          <p class="text-center" *ngIf="!ciudadEditando">
            <button mat-raised-button [disabled]="city.invalid" (click)="addCity()">Agregar</button>
          </p>
          <p class="text-center" *ngIf="ciudadEditando">
            <button mat-raised-button [disabled]="city.invalid" class="mx-1" (click)="actualizarCiudad()">Actualizar</button>
            <button mat-raised-button (click)="cancelarCiudad()" class="mx-1" color="warn">Cancelar</button>
          </p>
        </div>

        <mat-list>
          <mat-list-item *ngFor="let ciudad of citiesA">
            <button mat-icon-button (click)="editarCiudad(ciudad)">
              <mat-icon>edit</mat-icon>
            </button> {{ciudad.name}}
          </mat-list-item>
        </mat-list>


      </mat-tab>
      <!-- Comunidades  -->
      <mat-tab label="Comunidad">
        <h3 class="text-center mt-3 mat-h1">Agregar comunidad</h3>

        <div [formGroup]="community">
          <p class="text-center">
            <mat-form-field appearance="outline" class="mt-3">
              <mat-label>Distritos</mat-label>
              <mat-select placeholder="Distritos" (selectionChange)="filtrarCiudadesB($event.value)">
                <mat-option *ngFor="let distrito of parametros.distritos" [value]="distrito.id">{{distrito.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p class="text-center">
            <mat-form-field appearance="outline">
              <mat-label>Ciudad</mat-label>
              <mat-select placeholder="Ciudad" formControlName="city" (selectionChange)="filtrarComunidadesA($event.value)">
                <mat-option *ngFor="let ciudad of citiesB" [value]="ciudad.id">{{ciudad.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p class="text-center">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de la comunidad</mat-label>
              <input matInput placeholder="Nombre de la comunidad" formControlName="name">
            </mat-form-field>
          </p>

          <p class="text-center" *ngIf="!comunidadEditando">
            <button mat-raised-button [disabled]="community.invalid" (click)="addCommunity()">Agregar</button>
          </p>

          <p class="text-center" *ngIf="comunidadEditando">
            <button mat-raised-button [disabled]="community.invalid" class="mx-1" (click)="actualizarComunidad()">Actualizar</button>
            <button mat-raised-button (click)="cancelarComunidad()" class="mx-1" color="warn">Cancelar</button>
          </p>

          <mat-list>
              <mat-list-item *ngFor="let comunidad of communitiesA">
                <button mat-icon-button (click)="editarComunidad(comunidad)">
                  <mat-icon>edit</mat-icon>
                </button> {{comunidad.name}}
              </mat-list-item>
    
            </mat-list>
          
        </div>
      </mat-tab>
      <!-- Barrios  -->
      <mat-tab label="Barrio">
        <h3 class="text-center mt-3 mat-h1">Agregar barrio</h3>

        <div [formGroup]="neighborhood">
          <p class="text-center">
            <mat-form-field appearance="outline" class="mt-3">
              <mat-label>Distritos</mat-label>
              <mat-select placeholder="Distritos" (selectionChange)="filtrarCiudadesC($event.value)">
                <mat-option *ngFor="let distrito of parametros.distritos" [value]="distrito.id">{{distrito.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p class="text-center">
            <mat-form-field appearance="outline">
              <mat-label>Centro poblacional</mat-label>
              <mat-select placeholder="Centro poblacional" (selectionChange)="filtrarComunidadesB($event.value)">
                <mat-option *ngFor="let ciudad of citiesC" [value]="ciudad.id">{{ciudad.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p class="text-center">
            <mat-form-field appearance="outline">
              <mat-label>Comunidad</mat-label>
              <mat-select placeholder="Comunidad" formControlName="community" (selectionChange)="filtrarBarrios($event.value)">
                <mat-option *ngFor="let comunidad of communitiesB" [value]="comunidad.id">{{comunidad.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p class="text-center">
            <mat-form-field appearance="outline">
              <mat-label>Nombre del barrio</mat-label>
              <input matInput placeholder="Nombre del barrio" formControlName="name">
            </mat-form-field>
          </p>

          <p class="text-center">
            <mat-form-field appearance="outline">
              <mat-label>Poblacion del barrio</mat-label>
              <input type="number" matInput placeholder="Población del barrio" formControlName="population">
            </mat-form-field>
          </p>

          <p class="text-center" *ngIf="!barrioEditando">
            <button mat-raised-button [disabled]="neighborhood.invalid" (click)="addNeighborhood()">Agregar</button>
          </p>

          <p class="text-center" *ngIf="barrioEditando">
            <button mat-raised-button [disabled]="neighborhood.invalid" class="mx-1" (click)="actualizarBarrio()">Actualizar</button>
            <button mat-raised-button (click)="cancelarBarrio()" class="mx-1" color="warn">Cancelar</button>
          </p>

          <mat-list>
              <mat-list-item *ngFor="let barrio of barrios">
                <button mat-icon-button (click)="editarBarrio(barrio)">
                  <mat-icon>edit</mat-icon>
                </button> {{barrio.name}}
              </mat-list-item>
    
            </mat-list>

        </div>
      </mat-tab>
    </mat-tab-group>
  </section>

</article>