<div class="container back">
    <p class="lead text-center text-danger">Últimas implementaciones</p>
    <div *ngIf="implemented | async; let implementaciones">
        <mgl-timeline>
            <mgl-timeline-entry *ngFor="let implementation of implementaciones">
                <mgl-timeline-entry-header class="lead text-primary">{{implementation.nombre}}</mgl-timeline-entry-header>
                <mgl-timeline-entry-content>
                    
                    <p>Sección: {{implementation.seccion}}</p>
                    <p *ngIf="implementation.nueva">Nombre: {{implementation.nueva}}</p>
                    <p>Tipo: {{implementation.tipo}}</p>
                    <p>Funcionalidades implementadas:</p>
                    <p *ngFor="let implementado of implementation.implementados; let i = index">
                        {{i+1}}. {{implementado}}
                    </p>
                </mgl-timeline-entry-content>
                <mgl-timeline-entry-side>{{implementation.tsRelease | date: 'dd/MM/yyyy'}}</mgl-timeline-entry-side>
            </mgl-timeline-entry>
        </mgl-timeline>
    </div>
</div>