<div class="jumbotron jumbotron-fluid mt-5 container">
  <div class="container">
    <h1 class="display-4 text-center text-danger">Mapa Red Vial Cantonal </h1>
    <p class="lead text-center">Exclusivo para subir la información sobre los caminos</p>
  </div>
  <div class="row justify-content-center">
    <div class="input-group mb-3 archivo">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Geojson</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" (change)="cargarArchivo($event.target.files)">
        <label class="custom-file-label">Buscar</label>
      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" id="inputGroupFileAddon04" [disabled]="geojson == null" (click)="iniciarProceso()">Cargar</button>
      </div>
    </div>
    <div class="col-10 mt-3" *ngIf="cantidad != 0">
        <p class="lead text-center">{{cantidad}} caminos para subir</p>
        <!-- <mat-progress-bar mode="determinate" [value]="(subidos/cantidad)*100"></mat-progress-bar> -->
      </div>
    <div class="col-10 mt-3" *ngIf="subiendo">
      <p class="lead text-center">Subidos {{subidos}} caminos de {{cantidad}}</p>
      <mat-progress-bar mode="determinate" [value]="(subidos/cantidad)*100"></mat-progress-bar>
    </div>
  </div>
</div>
