<app-encabezado [header]="'Plan de Gestión de Riesgos'"></app-encabezado>
<section class="back container">
  <article *ngIf="proyecto$ | async; let proyecto">
    <p class="lead text-center mt-5">{{proyecto.nombre}}</p>

    <p class="text-center text-info mt-5 lead">Contenido</p>
    <ul class="leaders">
      <li class="my-3"> <span>Introducción</span> <span>2</span>
      <li class="my-3"> <span>Identificación de los riesgos</span> <span>2</span>
      <li class="my-3"> <span>Clasificación por fase según ciclo de vida del proyecto</span> <span>2</span>
      <li class="my-3"> <span>Evaluación Cualitativa</span> <span>3</span>
      <li class="my-3"><span>Resultado de evaluación de riesgos</span> <span>3</span>
      <li class="my-3"><span>Gestión específica para proyecto</span> <span>4</span>
    </ul>
  </article>
  <article class="break">
    <p class="text-center text-info mt-5 lead">Introducción</p>
    <p class="text-justify">Los riesgos son parte de cualquier acción humana, están implícitos en cualquier proyecto,
      meta, o actividad que
      se ejecute y su identificación oportuna constituye parte fundamental en una adecuada gestión de proyectos.</p>
    <p class="text-justify">Dado que los riesgos son inherentes a todo proyecto y, varían según la etapa y el tipo de
      obras que se
      desarrolle es necesario realizar una identificación y evaluación cuantitativa que facilite un valor numérico que
      mida el efecto esperado de ellos y permita establecer las medidas a seguir en cada caso específico.</p>
    <p class="text-justify">El presente plan de Riesgos pretende ser un instrumento que identifique y evalué los
      potenciales riesgos sus
      causas, consecuencias, y como parte esencial establecer la forma como se abordaría cada caso particular en las
      diferentes etapas del proyecto.</p>
    <p>El plan se subdivide en tres apartados:</p>
    <ul>
      <li>Identificación de los riesgos</li>
      <li>Evaluación cualitativa de los riesgos</li>
      <li>Resultado de evaluación de riesgo</li>
    </ul>
  </article>
  <article>
    <p class="text-center text-info mt-5 lead">Identificación de los riesgos</p>
    <p class="text-justify">En esta fase se identifica los posibles riesgos y se clasifican por fase, categoría, Sub
      categoría, causa,
      consecuencia y actividad.</p>
    <p class="text-center text-info mt-5">Clasificación por fase según ciclo de vida del proyecto</p>
    <p class="text-justify">Esta clasificación se resume en cuatro etapas generales establecidas para la gestión de
      nuestros proyectos:</p>
    <p><strong>Pre-inversión:</strong></p>
    <p class="text-justify">Contempla los riesgos que puedan ocurrir durante la etapa de estudios:
      financieros, técnicos, ambientales, legales, de mercado, entre otros.</p>
    <p><strong>Promoción, Negociación y financiamiento:</strong></p>
    <p class="text-justify">Contempla los riesgos que puedan ocurrir durante la etapa de Viabilidad del proyecto, tanto
      en lo social, con
      clasificaciones de neutralidad, oposición, aliados, acuerdos políticos, financiamientos, aportes, entre otros.</p>
    <p class="text-justify">Contempla los riesgos que puedan ocurrir durante la gestión de los recursos necesarios para
      realizar el
      proyecto.</p>
    <p><strong>Interfase de Diseños Finales:</strong></p>
    <p class="text-justify">Aunque no constituye una etapa como tal, los diseños finales se consideran en este caso
      como una inter fase
      entre la fase de viabilidad y la fase de Ejecución.</p>
    <p class="text-justify">Esta fase contempla los riesgos que puedan presentarse en la elaboración de diseños,
      presupuestos y
      especificaciones finales.</p>
    <p><strong>Ejecución:</strong></p>
    <p class="text-justify">En esta fase se analiza lo concerniente a la ejecución misma y los riesgos que puedan darse
      durante el proceso constructivo, tiene que ver con la dotación de las capacidades requeridas para el desarrollo
      constructivo y la especialización del personal que interviene, así como la gestión de los cambios.</p>
    <p><strong>Operación:</strong></p>
    <p class="text-justify">Viene dada por los riesgos que puedan presentarse y que deben gestionarse durante el
      periodo en el cual lasestructuras y constructos de todo tipo generados por el proyecto, brindan sus servicios y
      ofrecen sus beneficios a los depositarios finales.</p>
  </article>
  <article class="break">
    <p class="text-center text-info mt-5 lead">Evaluación Cualitativa</p>
    <p class="text-justify">En este apartado se asignan valores del 1 al 10 a cada riesgo según dos parámetros,
      utilizando una
      matriz de riesgo de 10 x 10:</p>
    <ul>
      <li>Probabilidad de ocurrencia (Eje vertical o eje y)</li>
      <li>Impacto sobre el proyecto (Eje horizontal o eje x)</li>
    </ul>
    <p class="text-justify">Como resultado cada riesgo podrá ser clasificado como:</p>
    <ul>
      <li>Aceptable</li>
      <li>De monitoreo</li>
      <li>De reducción de probabilidad</li>
      <li>De contingencia</li>
      <li>De acción inmediata</li>
    </ul>
    <p class="text-center text-info mt-5 lead">Resultado de evaluación de riesgos</p>
    <p class="text-justify">En este apartado se estable el porcentaje promedio de los riesgos de cada clasificación,
      del mismo modo se obtiene el valor de impacto que tendra dicho riesgo segun la evaluación, y las medidas de
      contingencia en los casos que sea aplicable.</p>
    <p class="text-justify">Estos resultados son sometidos al conocimiento del equipo de proyecto y por lo tanto las
      estrategias que se deriven son el resultado de una construcción multidisciplinaria.</p>
  </article>
  <article class="break" >
      <p class="text-center text-info mt-5 lead">Riesgos del proyecto</p>

      <table class="table">
          <thead>
            <tr>
              <th scope="col">Fase</th>
              <th scope="col">Categoria</th>
              <th scope="col">Subcategoria</th>
              <th scope="col">Causa</th>
              <th scope="col">Consecuencia</th>
              <th scope="col">Actividad</th>
              <th scope="col">Nivel de riesgo (Probabilidad * Impacto)</th>
              <th scope="col">Respuesta</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let riesgo of (proyecto$ | async).riesgos">
              <th scope="row">{{riesgo.fase}}</th>
              <td>{{riesgo.categoria}}</td>
              <td>{{riesgo.subcategoria}}</td>
              <td>{{riesgo.causa}}</td>
              <td>{{riesgo.consecuencia}}</td>
              <td>{{riesgo.actividad}}</td>
              <td>{{riesgo.prob}} * {{riesgo.imp}} = {{riesgo.prob * riesgo.imp}} %</td>
              <td>{{riesgo.respuesta || 'Sin respuesta'}}</td>
            </tr>
          </tbody>
        </table>
  </article>
  <article class="break" >
      <app-riesgos-tabla [drag]=false [riegosProyecto]="(proyecto$ | async).riesgos"></app-riesgos-tabla>
  </article>
  <article  class="break">
    <app-riesgos-resultados [edit]="false" [resultados]="(proyecto$ | async).riesgos"></app-riesgos-resultados>
  </article>
</section>