<div class="text-center mt-3">
  <button mat-stroked-button class="lead mx-1 mb-4" (click)="nuevoTipo('img')" [ngClass]="{'text-danger': 'img' == (tipoActual | async) }">
    <fa-icon [icon]="imageIcon"></fa-icon> Fotografías</button>
  <button mat-stroked-button class="lead mx-1 mb-4" (click)="nuevoTipo('file')" [ngClass]="{'text-danger': 'file' == (tipoActual | async) }">
    <fa-icon [icon]="fileIcon"></fa-icon> Archvios</button>
</div>

<div class="justify-content-center row mb-3">
  <button mat-button *ngFor="let fase of fases" class="m-1" (click)="nuevaFase(fase)">
    <mat-icon [ngClass]="{'text-danger': fase == (faseActual | async) }">folder</mat-icon>
    <h6>{{fase}}</h6>
  </button>
</div>

<div class="list-group mb-4">

  <button mat-button class="list-group-item list-group-item-action align-items-start active" (click)="nuevoArchivo()">
    <h5 class="mb-1 text-center my-3">Agregar nuevo elemento
      <fa-icon [icon]="upload"></fa-icon>
    </h5>
  </button>

  <li class="list-group-item flex-column align-items-start w-100" *ngFor="let file of archivosFiltrado$ | async">
    <div class="d-flex w-100 justify-content-between">
      <small class="text-muted">{{momentTS(file.ts)}}</small>
      <button mat-icon-button color="warn" (click)="compartir(file)">
        <mat-icon aria-label="editar archivo">share</mat-icon>
      </button>
      <button mat-icon-button color="warn" *ngIf="file.user == user" (click)="nuevoArchivo(file)">
        <mat-icon aria-label="editar archivo">edit</mat-icon>
      </button>
    </div>
    <h5 class="mb-1 text-info btn-link" (click)="irArchivo(file.url)">{{file.description}}</h5>
    <small class="text-muted">{{file.user}}</small>
  </li>
</div>
