.aceptable {
    background-color: #ccf1ff73 !important;
}

.monitorear {
    background-color: #54d0ff73 !important;
}

.reducir {
    background-color: #ffaeae73 !important;
}

.contingencia {
    background-color: #ff737373 !important;
}

.accion {
    background-color: #ff000073 !important;
}