<div *ngIf="riesgo$ | async; let riesgos">
    <p class="lead my-5 text-center text-info" *ngIf="riesgos.length == 0">No hay riesgos definidos para este proyecto</p>

    <table class="table table-borderless">
        <tbody>
            <tr *ngFor="let riesgo of riesgos; let i = index">
                <td>
                    <mat-card class="example-card" matBadge="{{i + 1 }}" matBadgePosition="before" class="mat-elevation-z8"
                        [ngClass]="{'aceptable':  aceptable(riesgo.prob,riesgo.imp), 'monitorear':  monitorear(riesgo.prob,riesgo.imp), 'reducir':  reducir(riesgo.prob,riesgo.imp), 'contingencia':  contingencia(riesgo.prob,riesgo.imp), 'accion':  accion(riesgo.prob,riesgo.imp)}">
                        <mat-card-header>
                            <mat-card-title>{{riesgo.causa}} </mat-card-title>
                            <mat-card-subtitle>{{riesgo.consecuencia}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p><strong>Fase:</strong> {{riesgo.fase}}</p>
                            <p><strong>Categoria:</strong> {{riesgo.categoria}}</p>
                            <p><strong>Subcategoria:</strong> {{riesgo.subcategoria}}</p>
                            <p class="card-text" *ngIf="riesgo.prob && riesgo.imp">
                                Probabilidad: {{riesgo.prob}}
                                <br>
                                Impacto: {{riesgo.imp}}
                            </p>
                            <p *ngIf="riesgo.respuesta"><strong>Respuesta:</strong> {{riesgo.respuesta}}</p>
                            <p class="text-center d-print-none" *ngIf="edit">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="quitar(riesgo)">
                                        <mat-icon>delete_forever</mat-icon>
                                        <span>Eliminar riesgo</span>
                                    </button>
                                </mat-menu>
                            </p>
                        </mat-card-content>
                    </mat-card>
                </td>
            </tr>
        </tbody>
    </table>
</div>