<article class="back container mt-5 d-print-none">
  <section class="py-3">
    <mat-vertical-stepper [linear]="true" #stepper *ngIf="basico">
      <mat-step [stepControl]="basico">
        <form [formGroup]="basico" class="form">
          <ng-template matStepLabel>Basico</ng-template>
          <mat-form-field>
            <mat-select placeholder="Tipo de inspección" formControlName="tipo">
              <mat-option [value]="tipo.valor" *ngFor="let tipo of tipos">{{tipo.tipo}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Prioridad de inspección" formControlName="prioridad">
              <mat-option [value]="prioridad.valor" *ngFor="let prioridad of prioridades">{{prioridad.tipo}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Distrito de inspeccion" formControlName="distrito">
              <mat-option [value]="distrito.valor" *ngFor="let distrito of distritos">{{distrito.tipo}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Inspector asignado" formControlName="asignado">
              <mat-option [value]="inspector" *ngFor="let inspector of equipo">{{inspector}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Camino 1-19-" formControlName="camino">
          </mat-form-field>
          <div class="text-center mt-3">
            <button class="mx-2" mat-raised-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="accionado">
        <form [formGroup]="accionado" class="form">
          <ng-template matStepLabel>Accionado</ng-template>
          <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="accionado">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Telefono" formControlName="telefono">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <div class="text-center mt-3">
            <button class="mx-2" mat-raised-button matStepperPrevious>Atras</button>
            <button class="mx-2" mat-raised-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="inspeccion">
        <form [formGroup]="inspeccion" class="form">
          <ng-template matStepLabel>Información específica</ng-template>
          <mat-form-field>
            <input matInput placeholder="Dirección" formControlName="direccion">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Objetivo" formControlName="objetivo">
          </mat-form-field>

          <div formArrayName="detalle" class="mt-3 col-12">
            <p class="lead text-info text-center">Detalle de la inspección</p>
            <div *ngFor="let _detalle of detalles.controls; let i = index" class="col-12">
              <div [formGroupName]="i">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>{{i+1}}</mat-label>
                  <input matInput placeholder="Nuevo detalle" formControlName="detalle">
                  <mat-icon matSuffix color="warn" (click)="quitarDetalle(i)">remove_circle</mat-icon>
                  <mat-hint>Se específico y abierto con lo que detalla</mat-hint>
                </mat-form-field>

                <div class="row justify-content-around mb-3">
                  <div *ngFor="let img of detalles.controls[i].get('imgs').value; let x = index" class="col-5">
                    <img [src]="img" class="img-fluid" class="col-10">
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="col-2">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="removeImgDetalle(i,x)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Eliminar</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Imagen explicativa</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
                      (change)="imagenDetalle($event.target.files, i)">
                    <label class="custom-file-label" for="inputGroupFile01">Fotos</label>
                  </div>
                </div>

              </div>
            </div>
            <p class="lead text-center" *ngIf="detalles.hasError('length')">Es necesario al menos un parrafo de detalle</p>
            <p class="text-center mt-3">
              <button class="mx-2" mat-raised-button (click)="agregarDetalle()" 
              [disabled]="detalles.controls.length > 0 && detalles.controls[detalles.controls.length-1].invalid">Nuevo parrafo</button>
            </p>
          </div>


          <div formArrayName="recomendacion" class="mt-3 col-12">
            <p class="lead text-info text-center">Recomendaciones</p>
            <div *ngFor="let _recomendacion of recomendaciones.controls; let i = index" class="col-12">
              <div [formGroupName]="i">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>{{i+1}}</mat-label>
                  <input matInput placeholder="Nueva linea de recomendacion" formControlName="recomendacion">
                  <mat-icon matSuffix color="warn" (click)="quitarRecomendacion(i)">remove_circle</mat-icon>
                  <mat-hint>Se específico y abierto con las recomencaciones</mat-hint>
                </mat-form-field>

                <div class="row justify-content-around mb-3">
                  <div *ngFor="let img of recomendaciones.controls[i].get('imgs').value; let x = index" class="col-5">
                    <img [src]="img" alt="" class="img-fluid" class="col-10">
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="col-2">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="removeImgRecomendacion(i,x)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Eliminar</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Imagen explicativa</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
                      (change)="imagenRecomendacion($event.target.files, i)">
                    <label class="custom-file-label" for="inputGroupFile01">Fotos</label>
                  </div>
                </div>
              </div>
            </div>
            <p class="lead text-center" *ngIf="recomendaciones.hasError('length')">Es
              necesario al menos un parrafo de recomendación</p>
            <p class="text-center">
              <button class="mx-2" mat-raised-button (click)="agregarRecomendacion()" [disabled]="recomendaciones.controls.length > 0 && recomendaciones.controls[recomendaciones.controls.length-1].invalid">Nuevo
                parrafo</button>
            </p>
          </div>


          <div class="text-center mt-3">
            <button class="mx-2" mat-raised-button matStepperPrevious>Atras</button>
            <button class="mx-2" mat-raised-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Terminar</ng-template>
        Formulario completo.
        <div class="text-center">
          <button class="mx-2" mat-raised-button matStepperPrevious>Descartar</button>
          <button class="mx-2" mat-raised-button (click)="stepper.reset()" color="warn" [disabled]="basico.invalid || inspeccion.invalid">Crear</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
    <p class="text-center">
      <button class="mx-2" mat-raised-button color="primary" (click)="finalizar()">Guardar</button>
    </p>
  </section>
</article>

<article class="d-none d-print-block">
  <app-encabezado [header]="'Acta de inspección'"></app-encabezado>
  <section *ngIf="basico.value; let basico" class="row">
    <p class="lead text-center text-info col-12">N°. Acta-{{basico.id || '***'}}-{{year}}-PGV </p>
    <p class="lead col-4">Tipo de inpección: {{getTipo(basico.tipo) || 'sin definir'}}</p>
    <p class="lead col-4">Prioridad: {{getPrioridad(basico.prioridad) || 'sin definir'}}</p>
    <p class="lead col-4">Distrito: {{getDistrito(basico.distrito) || 'sin definir'}}</p>
    <p class="lead col-4">Inspector asignado: {{basico.asignado || 'sin definir' }}</p>
    <p class="lead col-4">Numero de camino: 1-19-{{basico.camino || 'sin definir' }}</p>
  </section>
  <section *ngIf="accionado.value; let accionado" class="row">
    <p class="lead text-center text-primary col-12" *ngIf="accionado.accionado || accionado.telefono || accionado.email">Datos
      del accionado</p>
    <p class="lead col-5" *ngIf="accionado.accionado">Nombre: {{accionado.accionado || 'No hay accionado'}}</p>
    <p class="lead col-4" *ngIf="accionado.email">Email: {{accionado.email || 'no definido'}}</p>
    <p class="lead col-3" *ngIf="accionado.telefono">Telefono: {{accionado.telefono || 'no definido'}}</p>
  </section>
  <section *ngIf="inspeccion.value; let inspeccion" class="row">
    <p class="lead text-center text-primary col-12">Datos de inspección</p>
    <p class="lead col-3">Creador: {{inspeccion.creador}}</p>
    <p class="lead col-4">Creación: {{inspeccion.creacion | date: 'dd/MM/yyyy hh:mm:ss a'}}</p>
    <p class="lead col-5">Inspector: {{inspeccion.inspector || 'Inspección no se ha sido finalizada'}}</p>
    <p class="lead col-5">Realizada: {{inspeccion.realizado | date: 'dd/MM/yyyy hh:mm:ss a' || 'Inspección no se ha sido finalizada'}}</p>
    <p class="lead col-12">Dirección: {{inspeccion.direccion || 'Sin especificar'}}</p>
    <p class="lead col-12">Objetivo: {{inspeccion.objetivo || 'Sin especificar'}}</p>
    
    <p class="lead text-info text-primary col-12">Detalles</p>
    <div *ngFor="let _detalle of detalles.value; let i = index" class="col-12">
      <div>
        <p class="lead">{{_detalle.detalle}}</p>
        <div class="row justify-content-around mb-3">
          <div *ngFor="let img of _detalle.imgs; let x = index" class="col-5">
            <img [src]="img" alt="" class="img-fluid" class="col-10">
          </div>
        </div>
      </div>
    </div>
    
    <p class="lead text-info text-primary col-12">Recomendaciones</p>
    <div *ngFor="let _recomendacion of recomendaciones.value; let i = index" class="col-12">
      <div>
        <p class="lead">{{_recomendacion.recomendacion}}</p>
        <div class="row justify-content-around mb-3">
          <div *ngFor="let img of _recomendacion.imgs; let x = index" class="col-5">
            <img [src]="img" alt="" class="img-fluid" class="col-10">
          </div>
        </div>
      </div>
    </div>

    <!-- <p class="lead col-4">Email: {{accionado.email || 'no definido'}}</p>     -->
  </section>
</article>
<!-- 
<article class="container back" >
  <p #inside>
    <button mat-raised-button (pan)="onPan($event)" (panend)="end($event)" [style.left.px]="xPos">Pagar
    </button>

  </p>
</article> -->