<article class="container">
  <h3 class="text-center mt-3 mat-h1">Programas</h3>
  <section>
    <p class="text-center">
      <mat-form-field appearance="outline">
        <mat-label>Nuevo Programa</mat-label>
        <input matInput placeholder="Nombre del programa" [formControl]="nuevoPrograma">
      </mat-form-field>
    </p>
    <p class="text-center">
      <button mat-raised-button [disabled]="nuevoPrograma.invalid" (click)="agregar()">Agregar</button>
    </p>
  </section>
  <section>
    <p *ngFor="let programa of programas | async; let i = index"> {{i+1}}. {{ programa.name }}</p>
  </section>
</article>