<div class="animated fadeIn">
    <div class="mb-3 text-center">
        <h4>Evaluación cualitativa de riesgos</h4>
    </div>
    <h3 class="text-center text-danger d-block d-md-none">Evaluación de riesgo disponible unicamente en pantallas
        grandes</h3>
    <div class="row d-md-flex d-none">
        <div class="container w-100">
            <div class="alert alert-warning text-center" role="alert" *ngIf="!existenRiesgos()">
                <strong>¡No existen riesgos que evaluar!</strong> debe de definir riesgos para trabajar en esta
                sección.
            </div>
        </div>

        <div class="col-12 d-print-none" *ngIf="existenRiesgos() && drag">
            <p class="text-center">Arrastre los riegos que ha definido al proyecto y suelte el riesgo según la
                probabilidad y el impacto de cada riesgo</p>
            <div class="container">
                <div class="alert alert-warning text-center" role="alert" *ngIf="completos()">
                    <strong>¡Riesgos sin evaluación!</strong> Debe de evaluar cada uno de los riesgos para poder
                    continuar
                </div>
                <div class="row">
                    <div class="gavatar animated shake" *ngFor="let riesgo of riegosProyecto; let i = index"
                        dnd-draggable [dragEnabled]="true" [dragData]="{riesgo: riesgo, indice: i}" [dropZones]="['evaluar']">
                        {{i+1}}
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="container mx-4 w-100" *ngIf="existenRiesgos()">
            <div class="row justify-content-md-center">
                <h4>Impactos</h4>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col text-center" *ngFor="let impacto of impactos">
                    {{impacto}}
                </div>
            </div>
            <div class="row">
                <div class="col-1 custom-col vericaltext mr-4">
                    <h4>
                        Probabilidades
                    </h4>
                </div>

                <div class="col-1 custom-col">
                    <div class="row size pt-3" *ngFor="let probabilidad of probabilidades">
                        {{probabilidad}}
                    </div>
                </div>

                <div class="col w-100">
                    <div class="row" *ngFor="let probabilidad of probabilidades">
                        <div class="col size" *ngFor="let impacto of impactos" dnd-droppable (onDropSuccess)="agregar({prob: probabilidad, imp: impacto, evento: $event})"
                            [dropZones]="['evaluar', 'cambiar']" [ngClass]="{'aceptable': (probabilidad<=3 && impacto<=3), 'monitorear': (probabilidad>3 && probabilidad <=7 && impacto<=3), 'contingencia-media': (probabilidad>3 && probabilidad <=7 && impacto>3 && impacto<7), 'contingencia-alta': (probabilidad>3 && probabilidad <=7 && impacto>6 && impacto<=10), 'reducir': (probabilidad>7 && impacto>0 && impacto<4), 'accion-media': (probabilidad>7 && impacto>3 && impacto<7), 'accion-alta': (probabilidad>7 && impacto>6), 'monitorear-media': (probabilidad<=3 && impacto>3 && impacto<=6), 'monitorear-alta': (probabilidad<=3 && impacto>6)}">
                            <div>
                                <div *ngIf="has(probabilidad, impacto)">
                                    <span class="gavatar animated bounce" *ngFor="let cambio of risk[probabilidad][impacto]"
                                        dnd-draggable [dragEnabled]="drag" [dragData]="{riesgo: cambio}"
                                        [dropZones]="['cambiar']">
                                        {{cambio.indice + 1}} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>