.gavatar {
    color: rgb(255, 255, 255);
    background-color: #293435;
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 80px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin: 2px;
    text-align: center;
    margin-top: 10px;
}

.aceptable {
    background-color: #ccf1ff;
}

.monitorear {
    background-color: #92e1ff;
}

.monitorear-media {
    background-color: #92e1ff;
}

.monitorear-alta {
    background-color: #54d0ff;
}

.contingencia-media {
    background-color: #ffaaaa;
}

.contingencia-alta {
    background-color: #ff7373;
}

.reducir {
    background-color: #ffaeae;
}

.accion-media {
    background-color: #ff7676;
}

.accion-alta {
    background-color: #ff4f4f;
}

.size {
    height: 80px;
}

@media print {
    .size {
        height: 130px;
    }
}

.vertical {
    margin-right: 3%;
}

.custom-col {
    max-width: 2.333333%;
}

.vericaltext {
    width: 1px;
    word-wrap: break-word;
}