<div class="text-center d-none d-print-block">
    <img src="assets\img\encabezado.png">
</div>
<h1 class="display-4 text-center text-primary" *ngIf="head">{{head}}</h1>
<p class="lead text-center text-danger d-none d-print-block">Generado por {{usuario | uppercase}} el {{fecha | date: 'dd/MM/yyyy hh:mm:ss a'}}</p>