
<!-- <div #map id="map" [style.marginTop.px]="mobileQuery.matches ? -10 : 0"></div> -->
<section>
  <div #gmap class="mapa" [ngStyle]="{'height': height + 'px'}" [style.height.px]="mobileQuery.matches ? height - 56 : height - 64"></div>
</section>
<button mat-raised-button [matMenuTriggerFor]="menu" class="ml-4 mb-4 fixed-bottom busqueda">Filtros <mat-icon aria-label="filter">filter_list</mat-icon></button>
<mat-menu #menu="matMenu">
  <mat-slide-toggle class="ml-2" (change)="calor($event)" [checked]="calorActive">Calor</mat-slide-toggle>
  <button mat-menu-item (click)="filtros(false)">Caminos</button>
  <button mat-menu-item (click)="filtros(true)">Proyectos</button>
</mat-menu>


<!-- <div class="input-group fixed-bottom busqueda">
    <div class="input-group-prepend">
      <span class="input-group-text" id="busqueda"><strong>@ 1-19-</strong></span>
    </div>
    <input type="text" class="form-control" placeholder="Busqueda" aria-label="Username" aria-describedby="busqueda" (keyup.enter)="filter($event.target.value)">
    <div class="input-group-append" *ngIf="proyecto">
      <button type="button" class="btn btn-danger" (click)="atras()">Atras</button>
    </div>
</div>  -->