/* #gmap { 
    position:absolute; 
    top:64px;
    bottom:0; 
    width:100%; 
} */

.mapa {
    width: 100%;
    height: 100%;
}

.busqueda {
    z-index: 3 !important;
    position: fixed;
    left: 0px;
    bottom: 0px;
}