<mat-toolbar>
  <span class="text-danger">Desarrollo Open Source</span>
  <span class="flex"></span>
  <button mat-raised-button color="primary" [routerLink]="['/gestion/portafolios']">GWPVI</button>
</mat-toolbar>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page" [routerLink]="['estado']" routerLinkActive="lead text-primary" >Estado</li>
    <li class="breadcrumb-item active" aria-current="page" [routerLink]="['solicitudes']" routerLinkActive="lead text-primary" >Solicitudes</li>
    <li class="breadcrumb-item active" aria-current="page" [routerLink]="['usuarios']" routerLinkActive="lead text-primary" *ngIf="isDeveloper()">Usuarios</li>
    <li class="breadcrumb-item active" aria-current="page" [routerLink]="['reportes']" routerLinkActive="lead text-primary" >Errores</li>
    <li class="breadcrumb-item active" aria-current="page" [routerLink]="['herramientas']" routerLinkActive="lead text-primary" >Sobre</li>
  </ol>
</nav>

<router-outlet></router-outlet>

