<mat-nav-list>
  <a mat-list-item [routerLink]="['/gestion/portafolios']" routerLinkActive="text-info lead" (click)="menuClose()">Proyectos</a>
  <a mat-list-item [routerLink]="['/gestion/mapa']" routerLinkActive="text-info lead" (click)="menuClose()">Mapa</a>
  <a mat-list-item [routerLink]="['/gestion/geojson']" routerLinkActive="text-info lead" *ngIf="isAdminMapa()" (click)="menuClose()">Geojson</a>
  <!-- <a mat-list-item [routerLink]="['/gestion/inspecciones']" routerLinkActive="text-info lead" (click)="menuClose()">Inspecciones</a> -->
  <a mat-list-item [routerLink]="['/cms']" class="text-primary lead" (click)="menuClose()">CMS</a>
  <a mat-list-item [routerLink]="['/dev']" class="text-primary lead" (click)="menuClose()">Dev</a>
  <a mat-list-item [routerLink]="['/gestion/videos']" class="text-danger lead" (click)="menuClose()">Canal de videos</a>
  <div *ngIf="isAdmin()">
    <p class="text-center lead text-primary text-monospace">Reportes</p>
    <a mat-list-item [routerLink]="['/admin/fecha']" routerLinkActive="text-info lead" (click)="menuClose()">Inversión (Fecha)</a>
    <a mat-list-item [routerLink]="['/admin/porpro']" routerLinkActive="text-info lead" (click)="menuClose()">Inversión (Portafolio o Programa)</a>
    <a mat-list-item [routerLink]="['/admin/portafolio']" routerLinkActive="text-info lead" (click)="menuClose()">Inversión (Portafolio)</a>
    <a mat-list-item [routerLink]="['/admin/programa']" routerLinkActive="text-info lead" (click)="menuClose()">Inversión (Programa)</a>
    <a mat-list-item [routerLink]="['/admin/modalidad']" routerLinkActive="text-info lead" (click)="menuClose()">Inversión (Modalidad)</a>
    <a mat-list-item [routerLink]="['/admin/pendientes']" routerLinkActive="text-info lead" (click)="menuClose()">Pendientes de proyectos</a>
    <a mat-list-item [routerLink]="['/admin/fase']" routerLinkActive="text-info lead" (click)="menuClose()">Fase</a>
    <a mat-list-item [routerLink]="['/admin/seguimiento']" routerLinkActive="text-info lead" (click)="menuClose()">Seguimiento</a>
    <a mat-list-item [routerLink]="['/admin/prioridad']" routerLinkActive="text-info lead" (click)="menuClose()">Prioridad</a>
    <a mat-list-item [routerLink]="['/admin/resumen']" routerLinkActive="text-info lead" (click)="menuClose()">Resumen</a>
  </div>
  <a mat-list-item (click)="cerrarSesion(); menuClose()" class="text-danger">Cerrar Sesión</a>
</mat-nav-list>
