<div class="container animated fadeIn row justify-content-center" [formGroup]="proyectoActualizar">

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre del proyecto" formControlName="nombre">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Sinónimo</mat-label>
        <input matInput placeholder="Sinónimo del proyecto" formControlName="sinonimo">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Portafolio</mat-label>
        <mat-select placeholder="Seleccione un portafolio" formControlName="portafolio" (selectionChange)="portafolio($event.value)">
            <mat-option *ngFor="let portafolio of (parametros | async)?.portafolios" [value]="portafolio.name">{{portafolio.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-3 col-sm-8">
        <mat-label>Expediente</mat-label>
        <input matInput placeholder="Número de expediente" formControlName="expediente"> 
        <mat-hint>PRO-{{expediente.value}}-{{anio}}-{{tipo}}</mat-hint>
    </mat-form-field> 

    <mat-form-field appearance="outline" class="col-lg-2 col-sm-4">
        <mat-label>Tipo proyecto</mat-label>
        <mat-select placeholder="Seleccione un portafolio" [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}">
            <mat-option [value]="'PGV'">PGV</mat-option>
            <mat-option [value]="'SGV'">SGV</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Prioridad</mat-label>
        <mat-select placeholder="Prioridad del proyecto" formControlName="prioridad">
            <mat-option *ngFor="let prioridad of (parametros | async)?.prioridades" [value]="prioridad">{{prioridad}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Programa o subprograma</mat-label>
        <mat-select placeholder="Programa o subprogramao" formControlName="programa">
            <mat-option *ngFor="let programa of (parametros | async)?.programas" [value]="programa.name">{{programa.name}}</mat-option>
        </mat-select>
    </mat-form-field>

  <div *ngIf="syncPro" class="col-12 animated fadeIn">
    <h4 class="text-center">
      Guardando información
      <fa-icon class="sync" [icon]="sync" [spin]="true" style="color: #dc3545"></fa-icon>
    </h4>
  </div>
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary mx-3 col-5" (click)="guardarProyecto()" [disabled]="syncPro">
      <fa-icon [icon]="guardar"></fa-icon> Guardar</button>
    <button type="button" class="btn btn-danger col-5" (click)="cerrarNuevo()">
      <fa-icon [icon]="cerrar"></fa-icon> Cancelar</button>
  </div>
</div>
