<article class="container">
  <h3 class="text-center mt-3 mat-h1">Cumplir</h3>
  <section>
    <p class="text-center">
      <mat-form-field appearance="outline">
        <mat-label>Punto por cumplir</mat-label>
        <input matInput placeholder="Nuevo punto" [formControl]="nuevoCumplir">
      </mat-form-field>
    </p>
    <p class="text-center">
      <button mat-raised-button [disabled]="nuevoCumplir.invalid" (click)="agregar()">Agregar</button>
    </p>
  </section>
  <section>
    <p *ngFor="let punto of cumplir | async; let i = index"> {{i+1}}. {{ punto.name }}</p>
  </section>
</article>