<article class="container">
    <h3 class="text-center mt-3 mat-h1">Profesionales</h3>
    <section>
      <p class="text-center">
        <mat-form-field appearance="outline">
          <mat-label>Nuevo profesional</mat-label>
          <input matInput placeholder="Usuario del profesional" [formControl]="nuevoProfesional">
        </mat-form-field>
      </p>
      <p class="text-center">
        <button mat-raised-button [disabled]="nuevoProfesional.invalid" (click)="agregar()">Agregar</button>
      </p>
    </section>
    <section>
      <p *ngFor="let profesional of profesionales | async; let i = index"> {{i+1}}. {{ profesional.name }}</p>
    </section>
  </article>