<div class="row justify-content-center" [formGroup]="nuevoProyecto">
    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre del proyecto" formControlName="nombre">
        <mat-error *ngIf="nuevoProyecto.get('nombre').hasError('pattern')">Error de formato, evite usar comillas dobles
            " o simples '</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Sinónimo</mat-label>
        <input matInput placeholder="Sinónimo del proyecto" formControlName="sinonimo">
        <mat-error *ngIf="nuevoProyecto.get('sinonimo').hasError('pattern')">Error de formato, evite usar comillas
            dobles " o simples '</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Portafolio</mat-label>
        <mat-select placeholder="Seleccione un portafolio" formControlName="portafolio" (selectionChange)="portafolio($event.value)">
            <mat-option *ngFor="let portafolio of parametros.portafolios" [value]="portafolio.name">{{portafolio.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Expediente</mat-label>
        <input matInput placeholder="Número de expediente" formControlName="expediente">
        <mat-hint>PRO-{{expediente.value}}-{{anio}}-{{tipo}}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Tipo proyecto</mat-label>
        <mat-select placeholder="Seleccione un portafolio" [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}">
            <mat-option [value]="'PGV'">PGV</mat-option>
            <mat-option [value]="'SGV'">SGV</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Prioridad</mat-label>
        <mat-select placeholder="Prioridad del proyecto" formControlName="prioridad">
            <mat-option *ngFor="let prioridad of parametros.prioridades" [value]="prioridad">{{prioridad}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Programa o subprograma</mat-label>
        <mat-select placeholder="Programa o subprogramao" formControlName="programa">
            <mat-option *ngFor="let programa of parametros.programas" [value]="programa.name">{{programa.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="row justify-content-center col-12">
        <button type="button" class="btn btn-primary mx-3 col-3" (click)="guardarProyecto()" [disabled]="nuevoProyecto.invalid">
            <fa-icon [icon]="guardar"></fa-icon> Guardar
        </button>
        <button type="button" class="btn btn-danger col-3" (click)="cerrarNuevo()">
            <fa-icon [icon]="cerrar"></fa-icon> Cancelar
        </button>
    </div>
</div>