.card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.front {
    grid-area: frontAndBack;
}

.back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
    height: 0;
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

.card-container:hover .card-flip .back {
    height: 100%;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.header {
    background-color: #3c62bb70 !important;
}