<!-- <div class="card-container"> -->
<div class="card no-margin-bottom mat-elevation-z24">
    <div class="card-body " (click)="irProyecto(proyecto.proId)">
        <h4 class="card-title text-center text-primary">
            <span class="badge badge-danger">{{index}}.</span> {{proyecto.expediente}}</h4>
        <h5 class="card-title text-center">{{proyecto.nombre}}</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">{{proyecto.sinonimo}}</h6>
        <p class="card-text">
            <b>Portafolio:</b> {{proyecto.portafolio}}</p>
        <p class="card-text">
            <b>Prioridad:</b> {{proyecto.prioridad}}</p>
        <p class="card-text">
            <b>Creado:</b> {{proyecto.creado | date : 'dd/MM/yyyy'}}</p>
        <p class="card-text" *ngIf="proyecto.actualizado">
            <b>Actualizado:</b> {{proyecto.actualizado | date : 'dd/MM/yyyy hh:mm a'}}</p>
        <div class="mb-2" *ngIf="proyecto?.avance?.porcentaje; let porcentaje">
            <progressbar class="progress-striped active" [value]="porcentaje" striped="true" type="info" animate="true"
                [max]="100">
                <i>{{porcentaje}}%</i>
            </progressbar>
        </div>
    </div>
    <mat-expansion-panel *ngIf="proyecto.bitacora && proyecto.bitacora?.length > 0" >
        <mat-expansion-panel-header class="header">
            <mat-panel-title>
                Bitacoras
            </mat-panel-title>
        </mat-expansion-panel-header>
    
        <p class="card-text mt-3" *ngFor="let bitacora of proyecto.bitacora">
            <b>{{bitacora.fecha | date : 'dd/MM/yyyy hh:mm a'}} por {{bitacora.usuario | uppercase}}</b> -
            {{bitacora.linea}}</p>
    
    </mat-expansion-panel>
</div>
