<div class="row justify-content-center">
  <h2 class="col-12 text-center mb-3 text-primary">Información del proyecto
    <fa-icon class="sync" [icon]="sync" [spin]="true" *ngIf="trabajando"></fa-icon>
  </h2>
</div>
<div class="row mx-3 justify-content-center animated fadeIn " *ngIf="!editando">
  <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="!(informacion$ | async)">No hay información definida para este proyecto</p>

  <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(informacion$ | async)?.fase; let fase">
    <b>Fase: </b>‎{{fase}}</p>

  <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(informacion$ | async)?.modalidad; let modalidad">
    <b>Modalidad del proyecto: </b>‎{{modalidad}}</p>

  <ul class="list-group col-lg-10 col-sm-12 my-1 text-center" *ngIf="(informacion$ | async)?.equipo.length > 0 && (informacion$ | async)?.equipo; let equipo">
    <li class="list-group-item active lead">Miembros del equipo</li>
    <li class="list-group-item lead" *ngFor="let miembro of equipo">
      <b *ngIf="miembro.rol">{{miembro.rol}}:</b> {{miembro.nombre}}</li>
  </ul>

  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="(informacion$ | async)?.descripcion; let descripcion">
    <b>Descripcion: </b>‎{{descripcion}}</p>

  <div class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(informacion$ | async)?.coordenadas; let coordenadas">
    <p>
      <b>Coordenadas: </b>
    </p>
    <p>
      <b>Lat: </b>‎ {{coordenadas[0][1]}}</p>
    <p>
      <b>Lng: </b> {{coordenadas[0][0]}}</p>
      <button mat-stroked-button color="primary" (click)="verEnMapa()">Ver en mapa
        <mat-icon aria-label="Map icon">map</mat-icon>
      </button>
  </div>

  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="(informacion$ | async)?.ubicacion; let ubicacion">
    <b>Ubicacion: </b>‎{{ubicacion}}</p>

  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="(informacion$ | async)?.dimensiones; let dimensiones">
    <b>Dimensiones: </b>‎{{dimensiones}}</p>

  <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(informacion$ | async)?.vidaUtil; let vidaUtil">
    <b>Vida útil: </b> {{vidaUtil}} años</p>

  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="(informacion$ | async)?.poblacion; let poblacion">
    <b>Población beneficiada: </b>{{poblacion}} personas</p>

</div>

<div class="row mx-3 justify-content-center animated fadeIn " *ngIf="editando">

  <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
    <mat-label>Fase del proyecto</mat-label>
    <mat-select placeholder="Seleccione una fase" [(ngModel)]="NewInformacion.fase">
      <mat-option *ngFor="let fase of (parametros | async)?.fases" [value]="fase">{{fase}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
    <mat-label>Modalidad del proyecto</mat-label>
    <mat-select placeholder="Seleccione una modalidad" [(ngModel)]="NewInformacion.modalidad">
      <mat-option value="Administración">Administración</mat-option>
      <mat-option value="Obra por Contrato">Obra por Contrato</mat-option>
      <mat-option value="Mixto">Mixto</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
    <mat-label>Equipo del proyecto</mat-label>
    <mat-select placeholder="Seleccione los miembros" multiple (selectionChange)="agregarMiembro($event)" [(ngModel)]="tempEquipo">
      <mat-option *ngFor="let miembro of (parametros | async)?.equipo" [value]="miembro">{{miembro}}</mat-option>
    </mat-select>
  </mat-form-field>

  <ul class="list-group col-lg-10 col-sm-12 mt-1 mb-3 text-center" *ngIf="NewInformacion.equipo.length > 0 && NewInformacion.equipo; let equipo">
    <li class="list-group-item active lead mb-3">Miembros del equipo</li>
    <div *ngIf="NewInformacion.equipo.length > 0 && NewInformacion.equipo; let equipo" class="row justify-content-center">
      <mat-form-field appearance="outline" class="col-lg-5 col-sm-10" *ngFor="let miembro of equipo">
        <mat-label>{{miembro.nombre}}</mat-label>
        <mat-select placeholder="Seleccione rol para {{miembro}}" [(ngModel)]="miembro.rol">
          <mat-option *ngFor="let rol of (parametros | async)?.roles" [value]="rol">{{rol}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ul>

  <mat-form-field appearance="outline" class=" col-lg-10 col-sm-12">
    <mat-label>Descripción</mat-label>
    <input matInput class="form-control" placeholder="Sea específico" aria-label="descripcion" [(ngModel)]="NewInformacion.descripcion">
  </mat-form-field>

  <div class="lead col-12 my-1 text-center" *ngIf="NewInformacion?.coordenadas; let coordenadas">
    <p>
      <b>Coordenadas: </b>
    </p>
    <p>
      <b>Lat: </b>‎ {{coordenadas[0][1]}}</p>
    <p>
      <b>Lng: </b> {{coordenadas[0][0]}}</p>
  </div>

  <p>
    <button mat-stroked-button color="primary" (click)="abrirMapa()">Definir coordenadas
      <mat-icon aria-label="Map icon">map</mat-icon>
    </button>
  </p>

  <mat-form-field appearance="outline" class=" col-lg-10 col-sm-12">
    <mat-label>Ubicación</mat-label>
    <input matInput class="form-control" placeholder="Sea específico" aria-label="descripcion" [(ngModel)]="NewInformacion.ubicacion">
  </mat-form-field>

  <mat-form-field appearance="outline" class=" col-lg-10 col-sm-12">
    <mat-label>Dimensiones</mat-label>
    <input matInput class="form-control" placeholder="Sea específico" aria-label="descripcion" [(ngModel)]="NewInformacion.dimensiones">
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
    <mat-label>Vida útil</mat-label>
    <input type="number" matInput placeholder="Vida útil en años" [(ngModel)]="NewInformacion.vidaUtil">
  </mat-form-field>

  <mat-form-field appearance="outline" class=" col-lg-10 col-sm-12">
    <mat-label>Población beneficiada</mat-label>
    <input type="number" matInput class="form-control" placeholder="Sea específico" aria-label="poblacion" [(ngModel)]="NewInformacion.poblacion">
  </mat-form-field>

</div>

<div class="row mt-3 justify-content-center d-print-none" *ngIf="editor">
  <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-md-5 col-10 m-2 animated fadeIn" (click)="editarDatos()"
    *ngIf="!editando">Editar
    <fa-icon [icon]="editar"></fa-icon>
  </button>
  <button type="button" [disabled]="trabajando" class="btn btn-outline-primary col-5 m-2 animated fadeIn" (click)="guardarInformacion()"
    *ngIf="editando">Guardar
    <fa-icon [icon]="guardar"></fa-icon>
  </button>
  <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-5 m-2 animated fadeIn" (click)="cancelarInformacion()"
    *ngIf="editando">Cancelar
    <fa-icon [icon]="cancelar"></fa-icon>
  </button>
</div>
