<!-- <div class="container"> -->
  <!-- <div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="100%" height="100%"
      src="https://web.microsoftstream.com/embed/channel/8ee607d0-64af-4350-93ed-cc716bef7647" frameborder="0"
      allowfullscreen style='position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;'></iframe></div> -->
  <div style='max-width: 1600px'>
    <div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="1600" height="900"
        src="https://web.microsoftstream.com/embed/channel/8ee607d0-64af-4350-93ed-cc716bef7647" frameborder="0"
        allowfullscreen style='position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;'></iframe></div>
  </div>
<!-- </div> -->