<app-encabezado [header]="'Proyectos por fase'"></app-encabezado>
<div class="container d-print-none back">
  <div class="row justify-content-center d-print-none pt-3 " [formGroup]="filtros" *ngIf="parametros | async as params">

    <mat-form-field appearance="outline" class="col-10 col-lg-5">
      <mat-label>Fase por filtrar</mat-label>
      <mat-select placeholder="Fase por filtrar" formControlName="fase">
        <mat-option *ngFor="let fase of params?.fases" [value]="fase">
          {{fase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-10 col-lg-5">
      <mat-label>Portafolio por filtrar</mat-label>
      <mat-select placeholder="Portafolio por filtrar" formControlName="portafolio" multiple>
        <mat-option *ngFor="let portafolio of params?.portafolios" [value]="portafolio.name">
          {{portafolio.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-10 col-lg-5">
      <mat-label>Profesional a cargo</mat-label>
      <mat-select placeholder="Profesional a cargo" formControlName="ingenieria" multiple>
        <mat-option *ngFor="let profesional of params?.profesionales" [value]="profesional.name">
          {{profesional.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-print-none text-center pb-3">
    <button mat-raised-button color="primary" [disabled]="!filtros.dirty || filtros.invalid" (click)="generarReporte()">Generar
      reporte</button>
  </div>
</div>

<p class="lead my-1 text-center my-3 text-danger" *ngIf="consultando">Consultando proyectos
  <fa-icon [icon]="loading" [spin]="true"></fa-icon>
</p>
<p class="lead my-1 text-center my-3 text-danger" *ngIf="proyectos.length == 0 && !consultando">No hay proyectos que
  mostrar</p>
<div class="d-none d-print-flex row justify-content-center ">
  <p class="lead text-center col-12">Criterios de busqueda</p>
  <p class="text-center col-12">Fase: {{filtros.value.fase}}</p>
  <ul class="list-group col-5" *ngIf="filtros.value.portafolio.length > 0">
    <li class="list-group-item active text-center">Portafolios</li>
    <li class="list-group-item" *ngFor="let portafolio of filtros.value.portafolio">{{portafolio}}</li>

  </ul>
  <ul class="list-group col-5" *ngIf="filtros.value.ingenieria.length > 0">
    <li class="list-group-item active text-center">Ingenieros</li>
    <li class="list-group-item" *ngFor="let ingeniero of filtros.value.ingenieria">{{ingeniero}}</li>
  </ul>
</div>

<div class="container mt-3 back mat-elevation-z20" *ngIf="!consultando && proyectos.length >  0">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Proyectos encontrados: {{proyectos.length}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proyecto of proyectos">
        <td>
          <h5 class="card-title btn-link" (click)="irProyecto(proyecto.proId)">{{proyecto.nombre}}</h5>
          <p class="card-text">{{proyecto.portafolio}} / {{proyecto.expediente}}</p>
          <p class="card-text" *ngIf="proyecto.ingeniero">Ingeniero: {{proyecto.ingeniero | uppercase}}</p>
          <p class="card-text" *ngIf="proyecto.porcentaje">Porcentaje: {{proyecto.porcentaje}} %</p>
          <div>
            <p  *ngFor="let bitacora of proyecto.bitacora">
              <span class="text-danger">{{bitacora.fecha | date : 'dd/MM/yyyy'}}</span> {{bitacora.usuario | uppercase}}
              <br>{{bitacora.linea}}
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
