<div class="row justify-content-center">
    <h2 class="col-12 text-center mb-3 text-primary">Riesgos del proyecto
        <fa-icon class="sync" [icon]="sync" [spin]="true" *ngIf="trabajando"></fa-icon>
    </h2>
</div>

<div class="row mx-3 justify-content-center animated fadeIn " *ngIf="!editando">
    <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="!(riesgos$ | async)">No hay riesgos definidos para este
        proyecto</p>
    <app-riesgos-proyecto *ngIf="riesgos$ | async" [riesgos]="riesgos$"> </app-riesgos-proyecto>
</div>
<div class="row mx-3 justify-content-center animated fadeIn " *ngIf="editando">
    <div class="row col-12 justify-content-center d-print-none">
        <button class="m-3 d-md-block d-none" mat-raised-button (click)="setSeccion('buscador')" [ngClass]="{'btn-primary': seccion == 'buscador'}">Buscador</button>
        <button class="m-3" mat-raised-button (click)="setSeccion('riesgos')" [ngClass]="{'btn-primary': seccion == 'riesgos'}">Riesgos</button>
        <button class="m-3 d-md-block d-none" mat-raised-button (click)="setSeccion('tabla')" [ngClass]="{'btn-primary': seccion == 'tabla'}">Evaluación</button>
        <button class="m-3" mat-raised-button (click)="setSeccion('resultados')" [ngClass]="{'btn-primary': seccion == 'resultados'}">Resultados</button>
    </div>
    <app-riesgos-buscador *ngIf="seccion == 'buscador'" [riesgo$]="riesgos$ | async" [proId]="proId"></app-riesgos-buscador>
    <app-riesgos-tabla *ngIf="seccion == 'tabla'" [riegosProyecto]="riesgos$ | async"></app-riesgos-tabla>
    <app-riesgos-resultados *ngIf="seccion == 'resultados'" [resultados]="riesgos$ | async"></app-riesgos-resultados>
    <app-riesgos-proyecto *ngIf="seccion == 'riesgos'" [riesgos]="riesgos$" [edit]="editando"></app-riesgos-proyecto>
</div>
<div class="row mt-3 justify-content-center d-print-none" *ngIf="editor">
    <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-md-5 col-10 m-2 animated fadeIn"
        (click)="editarDatos()" *ngIf="!editando">Editar
        <fa-icon [icon]="editar"></fa-icon>
    </button>
    <button type="button" [disabled]="trabajando" class="btn btn-outline-primary col-5 m-2 animated fadeIn" (click)="cancelarInformacion()"
        *ngIf="editando">Ok
        <fa-icon [icon]="guardar"></fa-icon>
    </button>
    <button type="button" [disabled]="trabajando" class="btn btn-outline-info col-md-5 col-10 m-2 animated fadeIn"
        (click)="reporte()">Generar reporte
        <fa-icon [icon]="report"></fa-icon>
    </button>
</div>