<section [formGroup]="filtros">

  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Numero de Camino</mat-label>
    <input matInput placeholder="Camino" formControlName="caminoId" type="number" (keyup.enter)="buscar()">
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Distritos</mat-label>
    <mat-select placeholder="Distritos" formControlName="distrito" [multiple]="true">
      <mat-option *ngFor="let distrito of districts" [value]="distrito.id">{{distrito.name}}</mat-option>
    </mat-select>
  </mat-form-field>

</section>

<p class="text-center" *ngIf="!consultando">
  <button mat-flat-button color="primary" (click)="buscar()">Buscar</button>
</p>

<div class="row justify-content-center" *ngIf="consultando">
    <div class="col-2">
        <mat-spinner></mat-spinner>
    </div>
</div>