<div class="cms-container" [class.cms-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="mat-elevation-z8 cms-toolbar toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="text-primary">CMS</span>
    <span class="flex"></span>
    <button mat-raised-button color="primary" [routerLink]="['/gestion/portafolios']">GWPVI</button>
  </mat-toolbar>

  <mat-sidenav-container class="cms-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="lugares" routerLinkActive="text-danger" (click)="snav.toggle()">Lugares</a>
        <a mat-list-item routerLink="portafolios" routerLinkActive="text-danger" (click)="snav.toggle()">Portafolios</a>
        <a mat-list-item routerLink="profesionales" routerLinkActive="text-danger" (click)="snav.toggle()">Profesionales</a>
        <a mat-list-item routerLink="programas" routerLinkActive="text-danger" (click)="snav.toggle()">Programas</a>
        <a mat-list-item routerLink="cumplir" routerLinkActive="text-danger" (click)="snav.toggle()">Cumplir</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>