<app-encabezado [header]="'Proyectos por fecha'"></app-encabezado>
<div class="container d-print-none back  mat-elevation-z20">
  <div class="row justify-content-center d-print-none pt-3 " [formGroup]="filtros" *ngIf="parametros | async as params">

    <mat-form-field *ngIf="!complete" appearance="outline" class="col-10 col-lg-5">
      <mat-label>Rango inicio de ejecución (A)</mat-label>
      <input matInput [matDatepicker]="pickerInicio" placeholder="Fecha de inicio"
        (dateChange)="definirFecha($event, true, true)" disabled #inicio>
      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio disabled="false" touchUi startView="multi-year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="!complete" appearance="outline" class="col-10 col-lg-5">
      <mat-label>Rango inicio de ejecución (B)</mat-label>
      <input matInput [matDatepicker]="pickerInicio" placeholder="Fecha de inicio"
        (dateChange)="definirFecha($event, true, false)" disabled #inicio>
      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio disabled="false" touchUi startView="multi-year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="!complete" appearance="outline" class="col-10 col-lg-5">
      <mat-label>Finalización de ejecución (A)</mat-label>
      <input matInput [matDatepicker]="pickerFinalizacion" placeholder="Fecha de finalización"
        (dateChange)="definirFecha($event, false, true)" disabled #fin>
      <mat-datepicker-toggle matSuffix [for]="pickerFinalizacion"></mat-datepicker-toggle>
      <mat-datepicker #pickerFinalizacion disabled="false" touchUi startView="multi-year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="!complete" appearance="outline" class="col-10 col-lg-5">
      <mat-label>Finalización de ejecución (B)</mat-label>
      <input matInput [matDatepicker]="pickerFinalizacion" placeholder="Fecha de finalización"
        (dateChange)="definirFecha($event, false, false)" disabled #fin>
      <mat-datepicker-toggle matSuffix [for]="pickerFinalizacion"></mat-datepicker-toggle>
      <mat-datepicker #pickerFinalizacion disabled="false" touchUi startView="multi-year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="!complete" appearance="outline" class="col-10 col-lg-5">
      <mat-label>Portafolio por filtrar</mat-label>
      <mat-select placeholder="Portafolio por filtrar" formControlName="portafolio" multiple>
        <mat-option *ngFor="let portafolio of params?.portafolios" [value]="portafolio.name">
          {{portafolio.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!complete" appearance="outline" class="col-10 col-lg-5">
      <mat-label>Programas</mat-label>
      <mat-select placeholder="Programas" formControlName="programa" multiple>
        <mat-option *ngFor="let programa of params?.programas" [value]="programa.name">
          {{programa.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-progress-bar mode="query" *ngIf="consultando"></mat-progress-bar>
    <div class="d-print-none text-center pb-3 col-10 top">

      <button mat-raised-button color="primary" (click)="generarReporte()" *ngIf="!complete"
        [disabled]="consultando">Generar
        reporte</button>
      <button mat-raised-button color="primary" (click)="reset(inicio, fin)" class="space" *ngIf="complete">
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="d-none d-print-flex row justify-content-center ">
  <p class="lead text-center col-12">Criterios de busqueda</p>
  <p class="text-center col-12" *ngIf="filtros.value.inicioA">
    Inicio (A): {{filtros.value.inicioA | date : 'dd/MM/yyyy hh:mm:ss a'}}
  </p>
  <p class="text-center col-12" *ngIf="filtros.value.inicioB">
    Inicio (B): {{filtros.value.inicioB | date : 'dd/MM/yyyy hh:mm:ss a'}}
  </p>
  <p class="text-center col-12" *ngIf="filtros.value.finA">
    Fin (A): {{filtros.value.finA | date : 'dd/MM/yyyy hh:mm:ss a'}}
  </p>
  <p class="text-center col-12" *ngIf="filtros.value.finB">
    Fin (B): {{filtros.value.finB | date : 'dd/MM/yyyy hh:mm:ss a'}}
  </p>
  <ul class="list-group col-5" *ngIf="filtros.value.portafolio && filtros.value.portafolio.length > 0">
    <li class="list-group-item active text-center">Portafolios</li>
    <li class="list-group-item" *ngFor="let portafolio of filtros.value.portafolio">{{portafolio}}</li>
  </ul>
  <ul class="list-group col-5" *ngIf="filtros.value.programa && filtros.value.programa.length > 0">
    <li class="list-group-item active text-center">Programas</li>
    <li class="list-group-item" *ngFor="let programa of filtros.value.programa">{{programa}}</li>
  </ul>
</div>

<ng-container *ngIf="result | async as datos">
  <div class="container">

    <mat-card class="card" *ngIf="datos.sumatoria">
      <mat-card-header>
        <mat-card-title>Costo real de los proyectos: ₡{{datos.sumatoria.costoReal | number : '1.2-3'}}</mat-card-title>
        <mat-card-subtitle>Población beneficiada: {{datos.sumatoria.poblacion | number }} </mat-card-subtitle>
        <mat-card-subtitle>Inversión por habitante: ₡{{datos.sumatoria.costoReal/datos.sumatoria.poblacion | number }}
        </mat-card-subtitle>
        <mat-card-subtitle>Cantidad de proyectos: {{datos.proyectos.length| number }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    
    <mat-card class="card" *ngFor="let proyecto of datos.proyectos">
      <mat-card-header>
        <mat-icon mat-card-avatar>folder</mat-icon>

        <mat-card-title>{{proyecto.expediente}}</mat-card-title>
        <mat-card-subtitle class="name">{{proyecto.nombre}} </mat-card-subtitle>
        <mat-card-subtitle>{{proyecto.portafolio}} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="proyecto.costoReal">Costo real: ₡{{proyecto.costoReal | number : '1.2-3'}}</p>
        <p *ngIf="proyecto.poblacion">Población: {{proyecto.poblacion}}</p>
        <p *ngIf="proyecto.costoReal && proyecto.poblacion">Inversión por habitante:
          ₡{{ proyecto.costoReal / proyecto.poblacion| number : '1.2-3'}}</p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" class="d-print-none">
        <button mat-raised-button (click)="irProyecto(proyecto.proId)">Ver</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
