<div class="container">
  <app-encabezado *ngIf="portafolio" [header]="'Cartera '+portafolio"></app-encabezado>
  <div class="row justify-content-center" *ngIf="isEditor()">
    <button type="button" class="btn btn-danger col-md-4 mx-3" (click)="mostrar()">
      <fa-icon [icon]="mas"></fa-icon> Nuevo proyecto
    </button>
  </div>
  <div *ngIf="proyectos$ | async; let proyectos">
    <div *ngIf="cantidadProyectos > 0">

      <div class="row mt-4 card-columns justify-content-center">
        <info-proyecto class="col-12 col-md-6 col-lg-4 my-3" [datos]="proyecto" [index]="i+1" *ngFor="let proyecto of proyectos; let i = index" ></info-proyecto>
      </div>
      <p class="text-center" *ngIf="cantidadProyectos > cantidadActual">
        <button mat-raised-button color="primary" (click)="cargarMas()">Cargar más</button>
      </p>
    </div>
    <div *ngIf="cantidadProyectos == 0" class="mt-3">
      <p class="text-center lead text-danger">No hay proyectos en la cartera {{portafolio}}</p>
    </div>
  </div>
</div>