<div class="row">

  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Equipo del proyecto</mat-label>
    <mat-select placeholder="Seleccione los miembros" multiple [(ngModel)]="enviar">
      <mat-option *ngFor="let miembro of equipo | async" [value]="miembro">{{miembro}}</mat-option>

    </mat-select>
  </mat-form-field>

  <p class="text-center col-12">
    <button mat-raised-button color="primary" [disabled]="enviar.length == 0" (click)="enviarLink()">Enviar</button>
  </p>
  <!-- {{enviar | json}} -->
</div>
