.aceptable {
    background-color: #ccf1ff73 !important;
}

.monitorear {
    background-color: #54d0ff73 !important;
}

.reducir {
    background-color: #ffaeae73 !important;
}

.contingencia {
    background-color: #ff737373 !important;
}

.accion {
    background-color: #ff000073 !important;
}

.no-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.gauge {
    display: flex;
    justify-content: center;
}

.gauge-back {
    background: ghostwhite;
    border-radius: 20%;
    padding: 20px;
}