<h4 class="text-center">Resultado de evaluación de riesgo</h4>
<div class="alert alert-danger text-center" role="alert" *ngIf="!resultados.Evaluados">
  No hay riesgos evaluados para el proyecto, proceda a evaluar los riesgos para observar los resultados.
</div>


<table class="table table-striped" *ngIf="resultados.Evaluados">
  <tbody>
    <tr *ngIf="resultados.Aceptables.length > 0">
      <mat-card class="aceptable my-2">
        <mat-card-header>
          <mat-card-title class="text-center">Riesgo aceptable</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let aceptable of resultados.Aceptables">
          <h6 class="card-title"> {{aceptable.causa}}
            <span class="badge badge-secondary"> {{aceptable.prob * aceptable.imp}}% de Riesgo</span>
          </h6>
          <p class="card-text">{{aceptable.consecuencia}}</p>
        </mat-card-content>
        <p class="gauge">
          <rg-gauge-chart class="gauge-back" [canvasWidth]="canvasWidth" [needleValue]="resultados.promAceptables" [centralLabel]="centralLabel"
            [options]="options" [name]="name" [bottomLabel]="resultados.promAceptables + '%'"></rg-gauge-chart>
        </p>
      </mat-card>
    </tr>

    <tr *ngIf="resultados.Monitoreos.length > 0">
      <mat-card class="monitorear my-2">
        <mat-card-header>
          <mat-card-title class="text-center">Riesgo de monitoreo</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let monitoreo of resultados.Monitoreos">
          <h6 class="card-title"> {{monitoreo.causa}}
            <span class="badge badge-secondary"> {{monitoreo.prob * monitoreo.imp}}% de Riesgo</span>
          </h6>
          <p class="card-text">{{monitoreo.consecuencia}}</p>
        </mat-card-content>
        <p class="gauge">
            <rg-gauge-chart class="gauge-back" [canvasWidth]="canvasWidth" [needleValue]="resultados.promMonitoreos" [centralLabel]="centralLabel"
            [options]="options" [name]="name" [bottomLabel]="resultados.promMonitoreos + '%'"></rg-gauge-chart>
        </p>
      </mat-card>
    </tr>

    <tr *ngIf="resultados.Reducir.length > 0">
      <mat-card class="reducir my-2">
        <mat-card-header>
          <mat-card-title class="text-center">Riesgo de reducción de probabilidad</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let reducir of resultados.Reducir">
          <h6 class="card-title"> {{reducir.causa}}
            <span class="badge badge-secondary"> {{reducir.prob * reducir.imp}}% de Riesgo</span> </h6>
          <p class="card-text">{{reducir.consecuencia}}</p>
          <p class="card-text" *ngIf="reducir.completado || !edit">
            <strong>Reducción de probabilidad: </strong>{{reducir.respuesta || 'No se ha definido plan de reducción de
            probabilidad!!!'}}</p>

          <div class="input-group mb-3" *ngIf="!reducir.completado && edit">
            <input type="text" class="form-control col-auto" placeholder="Debe de digitar un plan de reducir la probabilidad"
              [(ngModel)]="reducir.respuesta">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="guardarRespuesta(reducir)">Definir</button>
            </div>
          </div>
        </mat-card-content>
        <p class="gauge">
            <rg-gauge-chart class="gauge-back" [canvasWidth]="canvasWidth" [needleValue]="resultados.promReducir" [centralLabel]="centralLabel"
            [options]="options" [name]="name" [bottomLabel]="resultados.promReducir + '%'"></rg-gauge-chart>
        </p>
      </mat-card>
    </tr>

    <tr *ngIf="resultados.Contingencias.length > 0">
      <mat-card class="contingencia my-2">
        <mat-card-header>
          <mat-card-title class="text-center">Riesgo de contingencía</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let contingencia of resultados.Contingencias">
          <h6 class="card-title"> {{contingencia.causa}}
            <span class="badge badge-secondary"> {{contingencia.prob * contingencia.imp}}% de Riesgo</span> </h6>
          <p class="card-text">{{contingencia.consecuencia}}</p>
          <p class="card-text" *ngIf="contingencia.completado || !edit">
            <strong>Plan de contingencia: </strong>{{contingencia.respuesta || 'No se ha definido plan de
            contingencia!!!'}}</p>
          <div class="input-group mb-3" *ngIf="!contingencia.completado && edit">
            <input type="text" class="form-control col-auto" placeholder="Debe de digitar un plan de reducir la probabilidad"
              [(ngModel)]="contingencia.respuesta">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="guardarRespuesta(contingencia)">Definir</button>
            </div>
          </div>
        </mat-card-content>
        <p class="gauge">
            <rg-gauge-chart class="gauge-back" [canvasWidth]="canvasWidth" [needleValue]="resultados.promContingencias" [centralLabel]="centralLabel"
            [options]="options" [name]="name" [bottomLabel]="resultados.promContingencias + '%'"></rg-gauge-chart>
        </p> 
      </mat-card>
    </tr>

    <tr *ngIf="resultados.Imnediatos.length > 0">
      <mat-card class="accion my-2">
        <mat-card-header>
          <mat-card-title class="text-center">Riesgo de acción inmediata</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let inmediato of resultados.Imnediatos">
          <h6 class="card-title"> {{inmediato.causa}}
            <span class="badge badge-secondary"> {{inmediato.prob * inmediato.imp}}% de Riesgo</span> </h6>
          <p class="card-text">{{inmediato.consecuencia}}</p>
          <p class="card-text" *ngIf="inmediato.completado || !edit">
            <strong>Plan de contingencia: </strong>{{inmediato.respuesta || 'No existe plan de acción inmediata!!!'}}</p>
          <div class="input-group mb-3" *ngIf="!inmediato.completado && edit">
            <input type="text" class="form-control col-auto" placeholder="Debe de digitar un plan de reducir la probabilidad"
              [(ngModel)]="inmediato.respuesta">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="guardarRespuesta(inmediato)">Definir</button>
            </div>
          </div>
        </mat-card-content>
         <p class="gauge">
            <rg-gauge-chart class="gauge-back" [canvasWidth]="canvasWidth" [needleValue]="resultados.promImnediatos" [centralLabel]="centralLabel"
            [options]="options" [name]="name" [bottomLabel]="resultados.promImnediatos + '%'"></rg-gauge-chart>
        </p> 
      </mat-card>
    </tr>

  </tbody>
</table>