<div class="container mt-3" *ngIf="proyecto$ | async; let proyecto">
  <div class="jumbotron jumbotron-fluid back mat-elevation-z20">
    <app-actual-informacion [proyecto]="proyecto" (editando)="editando=$event" *ngIf="!editando" [editor]="isEditor()"></app-actual-informacion>
    <div *ngIf="syncPro && !editando" class="col-12 animated fadeIn mt-3">
      <h4 class="text-center">
        Sincronizando información
        <fa-icon class="sync" [icon]="sync" [spin]="true" style="color: #dc3545"></fa-icon>
      </h4>
    </div>
    <app-actual-editar [proId]="proId" [proyecto]="proyecto" *ngIf="editando" (editando)="editando=$event"></app-actual-editar>
  </div>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="esActual('archivos')" (closed)="noCambiar('archivos')" (opened)="cambiar('archivos')" [ngClass]="{' d-print-none': !esActual('archivos')}"
      hideToggle>
      <mat-expansion-panel-header class="d-print-none " [ngClass]="{'headrer mat-elevation-z10': esActual('archivos')}">
        <mat-panel-title>
          Archivos
        </mat-panel-title>
        <mat-panel-description>
          <span class="spacer"></span>
          <mat-icon>cloud</mat-icon>
          <mat-icon>attach_file</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-archivos *ngIf="esActual('archivos')" [proId]="proId" [archivos]="proyecto.archivos" [informacion]="proyecto.informacion" [editor]="isEditor()"></app-archivos>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="esActual('adquisicion')" (closed)="noCambiar('adquisicion')" (opened)="cambiar('adquisicion')" [ngClass]="{' d-print-none': !esActual('adquisicion')}"
      hideToggle>
      <mat-expansion-panel-header class="d-print-none " [ngClass]="{'headrer mat-elevation-z10': esActual('adquisicion')}">
        <mat-panel-title>
          Adquisiciones
        </mat-panel-title>
        <mat-panel-description>
          <span class="spacer"></span>
          <mat-icon>shopping_cart</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-adquisicion class="col-12 my-3 my-3" *ngIf="esActual('adquisicion')" [proId]="proId" [editor]="isEditor()" [adquisicion]="proyecto.adquisicion"></app-adquisicion>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="esActual('avance')" (closed)="noCambiar('avance')" (opened)="cambiar('avance')" [ngClass]="{' d-print-none': !esActual('avance')}"
      hideToggle>
      <mat-expansion-panel-header class="d-print-none " [ngClass]="{'headrer mat-elevation-z10': esActual('avance')}">
        <mat-panel-title>
          Avance
        </mat-panel-title>
        <mat-panel-description>
          <span class="spacer"></span>
          <mat-icon>arrow_forward</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-avance class="col-12 my-3" *ngIf="esActual('avance')"  [proId]="proId" [avance]="proyecto.avance" [pendientes]="proyecto.pendiente" [bitacora]="proyecto.bitacora" [editor]="isEditor()"></app-avance>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="esActual('calidad')" (closed)="noCambiar('calidad')" (opened)="cambiar('calidad')" [ngClass]="{'d-print-none': !esActual('calidad')}"
      hideToggle>
      <mat-expansion-panel-header class="d-print-none " [ngClass]="{'headrer mat-elevation-z10': esActual('calidad')}">
        <mat-panel-title>
          Control de calidad
        </mat-panel-title>
        <mat-panel-description>
          <span class="spacer"></span>
          <mat-icon>search</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-calidad class="col-12 my-3" *ngIf="esActual('calidad')" [calidad]="proyecto.calidad" [proId]="proId" [editor]="isEditor()"></app-calidad>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="esActual('costos')" (closed)="noCambiar('costos')" (opened)="cambiar('costos')" [ngClass]="{'d-print-none': !esActual('costos')}"
      hideToggle>
      <mat-expansion-panel-header class="d-print-none " [ngClass]="{'headrer mat-elevation-z10': esActual('costos')}">
        <mat-panel-title>
          Costos
        </mat-panel-title>
        <mat-panel-description>
          <span class="spacer"></span>
          <mat-icon>pie_chart</mat-icon>
          <mat-icon>attach_money</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-costos class="col-12 my-3" *ngIf="esActual('costos')" [proId]="proId" [costos]="proyecto.costos" [editor]="isEditor()"></app-costos>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="esActual('informacion')" (closed)="noCambiar('informacion')" (opened)="cambiar('informacion')" [ngClass]="{'d-print-none': !esActual('informacion')}"
      hideToggle>
      <mat-expansion-panel-header class="d-print-none " [ngClass]="{'headrer mat-elevation-z10': esActual('informacion')}">
        <mat-panel-title>
          Información
        </mat-panel-title>
        <mat-panel-description>
          <span class="spacer"></span>
          <mat-icon>map</mat-icon>
          <mat-icon>people</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-informacion class="col-12 my-3" *ngIf="esActual('informacion')" [informacion]="proyecto.informacion" [proId]="proId" [editor]="isEditor()"></app-informacion>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="esActual('riesgos')" (closed)="noCambiar('riesgos')" (opened)="cambiar('riesgos')" [ngClass]="{'d-print-none': !esActual('riesgos')}"
      hideToggle>
      <mat-expansion-panel-header class="d-print-none " [ngClass]="{'headrer mat-elevation-z10': esActual('riesgos')}">
        <mat-panel-title>
          Riesgos
        </mat-panel-title>
        <mat-panel-description>
          <span class="spacer"></span>
          <mat-icon>warning</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-riesgos class="col-12 my-3" *ngIf="esActual('riesgos')" [riesgos]="proyecto.riesgos" (emitPushIn)="pushIn = $event" (emitPushOut)="pushOut =  $event"
        [proId]="proId" [editor]="isEditor()"></app-riesgos>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="esActual('seguimiento')" (closed)="noCambiar('seguimiento')" (opened)="cambiar('seguimiento')" [ngClass]="{'d-print-none': !esActual('seguimiento')}"
      hideToggle>
      <mat-expansion-panel-header class="d-print-none " [ngClass]="{'headrer mat-elevation-z10': esActual('seguimiento')}">
        <mat-panel-title>
          Seguimiento
        </mat-panel-title>
        <mat-panel-description>
          <span class="spacer"></span>
          <mat-icon>remove_red_eye</mat-icon>
          <mat-icon>check_box</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-seguimiento class="col-12 my-3" *ngIf="esActual('seguimiento')" [proId]="proId" [seguimiento]="proyecto.seguimiento" [inspecciones]="proyecto.inspecciones" [completar]="proyecto.completar" [editor]="isEditor()"></app-seguimiento>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="esActual('mensajeria')" (closed)="noCambiar('mensajeria')" (opened)="cambiar('mensajeria')" [ngClass]="{'d-print-none': !esActual('mensajeria')}"
      hideToggle class="mb-4">
      <mat-expansion-panel-header class="d-print-none" [ngClass]="{'headrer mat-elevation-z10': esActual('mensajeria')}">
        <mat-panel-title>
          Mensajería
        </mat-panel-title>
        <mat-panel-description>
          <span class="spacer"></span>
          <mat-icon>message</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-mensajeria class="col-12 my-3 my-3" *ngIf="esActual('mensajeria')" [proId]="proId" [mensajes]="proyecto.mensajes" [informacion]="proyecto.informacion" [editor]="isEditor()"></app-mensajeria>
    </mat-expansion-panel>

  </mat-accordion>
</div>