.partes {
    bottom: 0px;
    right: 0px;
    position: fixed;
}

.spacer {
    flex: 1 1 auto;
  }

.headrer {
    background-color: #7fd1ff !important;
}
  
.back {
    background-color: white;
    border-radius: 1rem;
}