<app-encabezado [header]="'Inversión por modalidad'"></app-encabezado>
<p class="text-center d-print-none my-4"><button mat-raised-button color="primary" (click)="refrescar()">Refrescar</button></p>
<div class="text-center mt-2 d-print-none">
    <button mat-raised-button class="mx-2 mb-4" (click)="nuevaModalidad('Obra por Contrato')" [ngClass]="{'text-danger': 'Obra por Contrato' == (modalidad | async) }">
        Obra por Contrato</button>
    <button mat-raised-button class="mx-2 mb-4" (click)="nuevaModalidad('Administración')" [ngClass]="{'text-danger': 'Administración' == (modalidad | async) }">
        Administración</button>
    <button mat-raised-button class="mx-2 mb-4" (click)="nuevaModalidad('Mixto')" [ngClass]="{'text-danger': 'Mixto' == (modalidad | async) }">
        Mixto</button>
    <button mat-raised-button class="mx-2 mb-4" (click)="nuevaModalidad('Sin clasificar')" [ngClass]="{'text-danger': 'Sin clasificar' == (modalidad | async) }">
        Sin clasificar</button>
</div>


<div class="text-center mt-2 d-print-none" *ngIf="portafolios | async; let _portafolios">
    <button mat-raised-button class="mx-2 mb-4" (click)="nuevoPortafolio(portafolio)" [ngClass]="{'text-danger': portafolio == (portafolioActual | async) }"
        *ngFor="let portafolio of _portafolios ">{{portafolio}}</button>
</div>

<div class="container back mat-elevation-z20" *ngIf="modalidadActual | async; let _modalidad">
    <h3 class="text-danger text-center col-12 mt-4 pt-4">
        {{_modalidad.modalidad}}
    </h3>
    <div class="row">
        <div class="col-12 col-sm-6 text-center">
            <p>Cantidad de proyectos: {{_modalidad.sumatoria.cantidad }} </p>
            <p>Previsión: {{_modalidad.sumatoria.prevision | number : '1.2-2'}}</p>
            <p>Inversión: {{_modalidad.sumatoria.inversion | number : '1.2-2'}}</p>
            <p>Invertido: {{(_modalidad.sumatoria.inversion / _modalidad.sumatoria.prevision) * 100 || 0 | number :
                '1.2-2'}} %</p>
        </div>
        <div class="col-12 col-md-6 text-center">
            <p>Detenidos: {{_modalidad.sumatoria.fases.detenido }} </p>
            <p>Ejecución: {{_modalidad.sumatoria.fases.ejecucion }}</p>
            <p>Operación: {{_modalidad.sumatoria.fases.operacion }}</p>
            <p>Preinversión: {{_modalidad.sumatoria.fases.preinversion }}</p>
        </div>
    </div>
    <div *ngIf="portafolio | async; let _portafolio">
        <h4 class="text-primary text-center col-12 mt-4">
            {{_portafolio.portafolio}}
        </h4>
        <div class="row">
            <div class="col-12 col-sm-6 text-center">
                <p>Cantidad de proyectos: {{_portafolio.sumatoria.cantidad }} </p>
                <p>Previsión: {{_portafolio.sumatoria.prevision | number : '1.2-2'}}</p>
                <p>Inversión: {{_portafolio.sumatoria.inversion | number : '1.2-2'}}</p>
                <p>Invertido: {{(_portafolio.sumatoria.inversion / _portafolio.sumatoria.prevision) * 100 || 0 |
                    number : '1.2-2'}} %</p>
            </div>
            <div class="col-12 col-md-6 text-center">
                <p>Detenidos: {{_portafolio.sumatoria.fases.detenido }} </p>
                <p>Ejecución: {{_portafolio.sumatoria.fases.ejecucion }}</p>
                <p>Operación: {{_portafolio.sumatoria.fases.operacion }}</p>
                <p>Preinversión: {{_portafolio.sumatoria.fases.preinversion }}</p>
            </div>
        </div>
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let programa of _portafolio.programas; let i = index">
                    <h5 class="text-info col-12 mt-4">
                        {{i+1}}. {{programa.programa}}
                    </h5>
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center">
                            <p>Avance: {{programa.sumatoria.avance | number : '1.2-2'}} %</p>
                            <p>Cantidad de proyectos: {{programa.sumatoria.cantidad }} </p>
                            <p>Previsión: {{programa.sumatoria.prevision | number : '1.2-2'}}</p>
                            <p>Inversión: {{programa.sumatoria.inversion | number : '1.2-2'}}</p>
                            <p>Invertido: {{(programa.sumatoria.inversion / programa.sumatoria.prevision) * 100
                                || 0 |
                                number : '1.2-2'}} %</p>
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <p>Detenidos: {{programa.sumatoria.fases.detenido }} </p>
                            <p>Ejecución: {{programa.sumatoria.fases.ejecucion }}</p>
                            <p>Operación: {{programa.sumatoria.fases.operacion }}</p>
                            <p>Preinversión: {{programa.sumatoria.fases.preinversion }}</p>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>