<div class="row justify-content-center">
  <h2 class="col-12 text-center mb-3 text-primary">Adquisiciones del proyecto
    <fa-icon class="sync" [icon]="sync" [spin]="true" *ngIf="trabajando"></fa-icon>
  </h2>
</div>

<div class="row mx-3 justify-content-center animated fadeIn " *ngIf="!editando">
  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="!(adquisicion$ | async)">No hay información de
    adquisición definida para este proyecto</p>

  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="(adquisicion$ | async)?.abs; let abs">
    <b>ABS: </b>‎{{abs}}</p>

  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="(adquisicion$ | async)?.mopt; let mopt">
    <b>MOPT: </b>‎{{mopt}}</p>

  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="(adquisicion$ | async)?.cne; let cne">
    <b>CNE: </b>‎{{cne}}</p>

  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="(adquisicion$ | async)?.ordenCompra; let ordenCompra">
    <b>Orden de Compra: </b>‎{{ordenCompra}}</p>

  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="(adquisicion$ | async)?.otras; let otras">
    <b>Otras: </b>‎{{otras}}</p>

  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="(adquisicion$ | async)?.contratoCalidad; let contratoCalidad">
    <b>Contración control de calidad: </b>‎{{contratoCalidad}}</p>

  <p class="lead col-lg-10 col-sm-12 my-1 text-center" *ngIf="(adquisicion$ | async)?.ordenCalidad; let ordenCalidad">
    <b>Orden de Compra calidad: </b>‎{{ordenCalidad}}</p>

  <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(adquisicion$ | async)?.contratacion; let contratacion">
    <b>Contratación: </b>‎{{contratacion}}</p>

  <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(adquisicion$ | async)?.refrendo; let refrendo">
    <b>Refrendo: </b>‎{{refrendo | date : 'dd/MM/yyyy'}}</p>
</div>
<div class="row mx-3 justify-content-center animated fadeIn d-print-none" *ngIf="editando" [formGroup]="adquisiciones">
  
  <mat-form-field appearance="outline" class="col-lg-10 col-sm-12">
    <mat-label>Adquisiciones ABS</mat-label>
    <input matInput placeholder="Adquisiciones ABS" formControlName="abs">
    <mat-error *ngIf="adquisiciones.get('abs').hasError('pattern')">Error de formato, evite usar comillas dobles " o simples '</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="col-lg-10 col-sm-12">
    <mat-label>Adquisiciones MOPT</mat-label>
    <input matInput placeholder="Adquisiciones MOPT" formControlName="mopt">
    <mat-error *ngIf="adquisiciones.get('mopt').hasError('pattern')">Error de formato, evite usar comillas dobles " o simples '</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="col-lg-10 col-sm-12">
    <mat-label>Adquisiciones CNE</mat-label>
    <input matInput placeholder="Adquisiciones CNE" formControlName="cne">
    <mat-error *ngIf="adquisiciones.get('cne').hasError('pattern')">Error de formato, evite usar comillas dobles " o simples '</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="col-lg-10 col-sm-12">
    <mat-label>Ordenes de compra</mat-label>
    <input matInput placeholder="Ordenes de compra" formControlName="ordenCompra">
    <mat-error *ngIf="adquisiciones.get('ordenCompra').hasError('pattern')">Error de formato, evite usar comillas dobles " o simples '</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="col-lg-10 col-sm-12">
    <mat-label>Otras adquisiciónes</mat-label>
    <input matInput placeholder="Otras adquisiciónes" formControlName="otras">
    <mat-error *ngIf="adquisiciones.get('otras').hasError('pattern')">Error de formato, evite usar comillas dobles " o simples '</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
    <mat-label>Contratación control calidad</mat-label>
    <input matInput placeholder="Contratación Calidad" formControlName="contratoCalidad">
    <mat-error *ngIf="adquisiciones.get('contratoCalidad').hasError('pattern')">Error de formato, evite usar comillas dobles " o simples '</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
    <mat-label>Orden de compra control calidad</mat-label>
    <input matInput placeholder="Orden compra" formControlName="ordenCalidad">
    <mat-error *ngIf="adquisiciones.get('ordenCalidad').hasError('pattern')">Error de formato, evite usar comillas dobles " o simples '</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
    <mat-label>Contratación</mat-label>
    <input matInput placeholder="Identificador de contratación" formControlName="contratacion">
    <mat-error *ngIf="adquisiciones.get('contratacion').hasError('pattern')">Error de formato, evite usar comillas dobles " o simples '</mat-error>
  </mat-form-field>

  <!-- <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
    <mat-label>Refrendo</mat-label>
    <input matInput type="text" placeholder="Fecha de refrendo" class="form-control" [value]="generarFecha((adquisicion$ | async)?.refrendo) | date:'dd/MM/yyyy'"
      aria-describedby="fecha-refrendo" bsDatepicker [bsConfig]="config" placement="top" (bsValueChange)="definirFecha($event)">
  </mat-form-field> -->

  <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
      <mat-label>Refrendo</mat-label>
      <input matInput [matDatepicker]="pickerInicio" placeholder="Fecha de Refrendo" [value]="generarFecha((adquisicion$ | async)?.refrendo)"
          (dateChange)="definirFecha($event)" disabled>
      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker touchUi #pickerInicio disabled="false"></mat-datepicker>
  </mat-form-field>

</div>

<div class="row mt-3 justify-content-center d-print-none" *ngIf="editor">
  <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-md-5 col-10 m-2 animated fadeIn" (click)="editarDatos()" *ngIf="!editando">
    Editar
    <fa-icon [icon]="editar"></fa-icon>
  </button>
  <button type="button" [disabled]="trabajando || adquisiciones.invalid" class="btn btn-outline-primary col-5 m-2 animated fadeIn" (click)="guardarAdquisicion()"
    *ngIf="editando">Guardar
    <fa-icon [icon]="guardar"></fa-icon>
  </button>
  <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-5 m-2 animated fadeIn" (click)="cancelarAdquisicion(); ins= null"
    *ngIf="editando">Cancelar
    <fa-icon [icon]="cancelar"></fa-icon>
  </button>
</div>
