<div [formGroup]="filtros">

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Portafolio</mat-label>
        <mat-select placeholder="Seleccione un portafolio" formControlName="portafolio" [multiple]="true">
            <mat-option *ngFor="let portafolio of parametros.portafolios" [value]="portafolio.name">{{portafolio.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Prioridad</mat-label>
        <mat-select placeholder="Prioridad del proyecto" formControlName="prioridad" [multiple]="true">
            <mat-option *ngFor="let prioridad of parametros.prioridades" [value]="prioridad">{{prioridad}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Programas o subprogramas</mat-label>
        <mat-select placeholder="Programas o subprogramas" formControlName="programa" [multiple]="true">
            <mat-option *ngFor="let programa of parametros.programas" [value]="programa.name">{{programa.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- 
    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Distritos</mat-label>
        <mat-select placeholder="Distritos" formControlName="district" [multiple]="true" (selectionChange)="filtrarCiudades($event.value)">
            <mat-option *ngFor="let distrito of districts" [value]="distrito.id">{{distrito.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Centros poblacionales</mat-label>
        <mat-select placeholder="Centro poblacional" formControlName="city" [multiple]="true" (selectionChange)="filtrarComunidades($event.value)">
            <mat-option *ngFor="let ciudad of cities" [value]="ciudad.id">{{ciudad.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Comunidades</mat-label>
        <mat-select placeholder="Comunidad" formControlName="community" [multiple]="true" (selectionChange)="filtrarBarrios($event.value)">
            <mat-option *ngFor="let comunidad of communities" [value]="comunidad.id">{{comunidad.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
        <mat-label>Barrios</mat-label>
        <mat-select placeholder="Barrios" formControlName="neighborhood" [multiple]="true">
            <mat-option *ngFor="let barrio of neighborhoods" [value]="barrio.id">{{barrio.name}}</mat-option>
        </mat-select>
    </mat-form-field> -->

</div>

<p class="text-center" *ngIf="!consultando">
    <button mat-flat-button color="primary" (click)="buscar()">Buscar</button>
</p>

<div class="row justify-content-center" *ngIf="consultando">
    <div class="col-2">
        <mat-spinner></mat-spinner>
    </div>
</div>
