<app-encabezado [header]="'Inversión por portafolio'"></app-encabezado>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-12 text-center d-print-none">
      <p class="text-center d-print-none"><button mat-raised-button color="primary" (click)="refrescar()">Refrescar</button></p>
    </div>
    <div class="col-12 d-print-none back mat-elevation-z20" *ngIf="(costos | async).length > 0">
      <canvas width="100%" height="50%" baseChart [datasets]="resultados" [labels]="portafolios" [chartType]="'line'"
        [legend]="true" [options]="incomeOptions"></canvas>
    </div>
  </div>


  <table class="table back mt-5 mat-elevation-z20">
    <thead>
      <tr>
        <th scope="col text-danger text-center">Portafolio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let portafolio of costos | async; let i = index" [ngClass]="{'d-print-none': !imprimir[i]}">
        <td>
          <p class="lead text-primary text-center">
            <mat-checkbox color="primary" [checked]="imprimir[i]" (change)="imprimir[i] = !imprimir[i]">{{portafolio.portafolio}}</mat-checkbox>
          </p>
          <div class="row">

            <div class="col-12 col-md-3">
              <p>Avance: {{portafolio.resumen.avance | number : '1.2-2'}} %</p>
              <p>Cantidad de proyectos: {{portafolio.resumen.cantidad }} </p>
              <p>Previsión: {{portafolio.resumen.prevision | number : '1.2-3'}}</p>
              <p>Inversión: {{portafolio.resumen.inversion | number : '1.2-3'}}</p>
              <p>Invertido: {{(portafolio.resumen.inversion / portafolio.resumen.prevision) * 100 || 0 | number :
                '1.2-3'}} %</p>
            </div>

            <div class="col-12 col-md-5 mt-3">
                <canvas baseChart [chartType]="'pie'" [data]="[portafolio.resumen.fases.preinversion,portafolio.resumen.fases.operacion,portafolio.resumen.fases.ejecucion,portafolio.resumen.fases.detenido]"
                  [labels]="['Preinversión', 'Operación', 'Ejecución', 'Detenido']" [options]="pieOptions"></canvas>
              </div>

            <div class="col-12 col-md-4 mt-3">
              <canvas baseChart [datasets]="[{data: [portafolio.resumen.prevision], label: 'Previsión'}, {data: [portafolio.resumen.inversion], label: 'Inversión'}]"
                [labels]="[portafolio.portafolio]" [options]="incomeOptions" [legend]="true" [chartType]="'horizontalBar'">
              </canvas>
            </div>

          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
