<ng-template #search>
  <form class="form-inline justify-content-center mt-5 d-print-none">

    <div class="input-group mb-3">
      <input class="form-control" type="proyectos" placeholder="Proyecto a resumir" aria-label="proyectos"
        (keyup.enter)="realizarBusqueda($event.target.value)">
    </div>
  </form>
</ng-template>

<article class="back" *ngIf="proyecto$ | async as proyecto; else search">

  <div class="container">
    <div class="row justify-content-center pt-3 d-print-none">
      <button class="btn btn-outline-danger" type="button" (click)="nuevoResumen()">Nuevo resumen</button>
    </div>
  </div>

  <app-encabezado [header]="'Resumen del proyecto'"></app-encabezado>

  <div class="container" *ngIf="proyecto">

    <div class=" row justify-content-around">
      <h2 class="text-primary text-center">{{proyecto?.nombre}}</h2>
      <p class="col-4"><strong>Portafolio:</strong> {{proyecto?.portafolio}}</p>
      <p class="col-4"><strong>Expediente:</strong> {{proyecto?.expediente}}</p>
      <p class="col-4"><strong>Prioridad:</strong> {{proyecto?.prioridad}}</p>
      <p class="col-4"><strong>Programa:</strong> {{proyecto?.programa}}</p>
      <p class="col-4"><strong>Creado:</strong> {{proyecto?.creado | date : 'dd/MM/yyyy'}}</p>
      <p class="col-4"><strong>Actualizado:</strong> {{proyecto?.actualizado | date : 'dd/MM/yyyy'}}</p>
    </div>

    <div>

      <!-- ******************************************************************************* -->

      <h3 class="text-center text-primary" *ngIf="proyecto?.informacion" [ngClass]="{'d-print-none': !adqCk.checked}">
        <mat-checkbox class="d-print-none" #adqCk></mat-checkbox>Adquisiciónes
      </h3>

      <p class="lead my-1" *ngIf="proyecto?.adquisicion?.abs; let abs" [ngClass]="{'d-print-none': !absCk.checked}">
        <mat-checkbox class="d-print-none" #absCk></mat-checkbox> <b>ABS: </b>‎{{abs}}
      </p>

      <p class="lead my-1" *ngIf="proyecto?.adquisicion?.mopt; let mopt" [ngClass]="{'d-print-none': !moptCk.checked}">
        <mat-checkbox class="d-print-none" #absCk></mat-checkbox><b>MOPT: </b>‎{{mopt}}
      </p>

      <p class="lead my-1" *ngIf="proyecto?.adquisicion?.cne; let cne" [ngClass]="{'d-print-none': !cneCk.checked}">
        <mat-checkbox class="d-print-none" #cneCk></mat-checkbox><b>CNE: </b>‎{{cne}}
      </p>

      <p class="lead my-1" *ngIf="proyecto?.adquisicion?.ordenCompra; let ordenCompra"
        [ngClass]="{'d-print-none': !ordenCk.checked}">
        <mat-checkbox class="d-print-none" #ordenCk></mat-checkbox><b>Orden de Compra: </b>‎{{ordenCompra}}
      </p>

      <p class="lead my-1" *ngIf="proyecto?.adquisicion?.otras; let otras"
        [ngClass]="{'d-print-none': !otrasCk.checked}">
        <mat-checkbox class="d-print-none" #otrasCk></mat-checkbox><b>Otras: </b>‎{{otras}}
      </p>

      <p class="lead my-1" *ngIf="proyecto?.adquisicion?.contratoCalidad; let contratoCalidad"
        [ngClass]="{'d-print-none': !contratoCalidadCk.checked}">
        <mat-checkbox class="d-print-none" #contratoCalidadCk></mat-checkbox><b>Contración control de calidad:
        </b>‎{{contratoCalidad}}
      </p>

      <p class="lead my-1" *ngIf="proyecto?.adquisicion?.ordenCalidad; let ordenCalidad"
        [ngClass]="{'d-print-none': !ordenCalidadCk.checked}">
        <mat-checkbox class="d-print-none" #ordenCalidadCk></mat-checkbox><b>Orden de Compra calidad:
        </b>‎{{ordenCalidad}}
      </p>

      <p class="lead my-1" *ngIf="proyecto?.adquisicion?.contratacion; let contratacion"
        [ngClass]="{'d-print-none': !contratacionAdqCk.checked}">
        <mat-checkbox class="d-print-none" #contratacionAdqCk></mat-checkbox><b>Contratación: </b>‎{{contratacion}}
      </p>

      <p class="lead my-1" *ngIf="proyecto?.adquisicion?.refrendo; let refrendo"
        [ngClass]="{'d-print-none': !refrendoCk.checked}">
        <mat-checkbox class="d-print-none" #refrendoCk></mat-checkbox><b>Refrendo: </b>‎{{refrendo | date :
        'dd/MM/yyyy'}}
      </p>

      <!-- ******************************************************************************* -->

      <h3 class="text-center text-primary" *ngIf="proyecto?.avance" [ngClass]="{'d-print-none': !avanceCk.checked}">
        <mat-checkbox class="d-print-none" #avanceCk></mat-checkbox>Avance
      </h3>

      <p class="lead my-1 " *ngIf="proyecto?.avance?.porcentaje" [ngClass]="{'d-print-none': !porcentajeCk.checked}">
        <mat-checkbox class="d-print-none" #porcentajeCk></mat-checkbox>
        <b>Porcentaje de avance: </b> {{proyecto?.avance?.porcentaje}} %
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.avance?.inicio" [ngClass]="{'d-print-none': !inicioCk.checked}">
        <mat-checkbox class="d-print-none" #inicioCk></mat-checkbox>
        <b>Inicio ejecución: </b> {{proyecto?.avance?.inicio | date:'dd/MM/yyyy'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.avance?.fin" [ngClass]="{'d-print-none': !finCk.checked}">
        <mat-checkbox class="d-print-none" #finCk></mat-checkbox>
        <b>Finalizado ejecución: </b> {{proyecto?.avance?.fin | date:'dd/MM/yyyy'}}
      </p>

      <div *ngIf="proyecto?.bitacora" [ngClass]="{'d-print-none': !bitacoraCk.checked}">
        <h3 class="text-center text-primary">
          <mat-checkbox class="d-print-none" #bitacoraCk></mat-checkbox>Ultimas bitácoras
        </h3>
        <p *ngFor="let comentario of proyecto?.bitacora">
          <b> {{comentario.fecha | date:'dd/MM/yyyy hh:mm a'}}</b> -
          <i>{{comentario.linea}} </i>
          <span class="badge badge-pill badge-danger">{{comentario.usuario | uppercase}}</span>
        </p>
      </div>

      <div *ngIf="proyecto?.pendiente && pendientesSinAtender(proyecto?.pendiente).length > 0"
        [ngClass]="{'d-print-none': !pendientesSinAtenderCk.checked}">
        <h3 class="text-primary text-center">
          <mat-checkbox class="d-print-none" #pendientesSinAtenderCk></mat-checkbox>Pendientes sin atender:
        </h3>
        <p class="lead text-justify" *ngFor="let pendiente of pendientesSinAtender(proyecto?.pendiente); let x = index">
          <span class="badge badge-pill badge-info">{{ x + 1}}.</span> {{pendiente.asunto}} - creado
          {{pendiente.generado
          | date:'dd/MM/yyyy'}}
        </p>
      </div>

      <div *ngIf="proyecto?.pendiente && pendientesAtendidos(proyecto?.pendiente).length > 0"
        [ngClass]="{'d-print-none': !pendientesAtendidosCk.checked}">
        <h3 class="text-primary text-center">
          <mat-checkbox class="d-print-none" #pendientesAtendidosCk></mat-checkbox>Pendientes atendidos:
        </h3>
        <p class="lead text-justify" *ngFor="let pendiente of pendientesAtendidos(proyecto?.pendiente); let i = index">
          <span class="badge badge-pill badge-info">{{i+1}}.</span> {{pendiente.asunto}} - creado
          {{pendiente.generado
          | date:'dd/MM/yyyy'}} - resuelto {{pendiente.resuelto
          | date:'dd/MM/yyyy'}}
        </p>
      </div>

      <!-- ******************************************************************************* -->

      <h3 class="text-center text-primary" *ngIf="proyecto?.calidad" [ngClass]="{'d-print-none': !calidadCk.checked}">
        <mat-checkbox class="d-print-none" #calidadCk></mat-checkbox>Control de calidad
      </h3>

      <p class="lead my-1 " *ngIf="proyecto?.calidad?.estado ; let estado"
        [ngClass]="{'d-print-none': !estadoCk.checked}">
        <mat-checkbox class="d-print-none" #estadoCk></mat-checkbox><b>Estado: </b>{{estado}}
      </p>

      <!-- ******************************************************************************* -->

      <h3 class="text-center text-primary" *ngIf="proyecto?.costos" [ngClass]="{'d-print-none': !costosCk.checked}">
        <mat-checkbox class="d-print-none" #costosCk></mat-checkbox>Costos
      </h3>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.procedencia; let procedencia"
        [ngClass]="{'d-print-none': !procedenciaCk.checked}">
        <mat-checkbox class="d-print-none" #procedenciaCk></mat-checkbox>
        <b>Procedencia: </b>‎{{procedencia}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.estimado; let estimado"
        [ngClass]="{'d-print-none': !estimadoCk.checked}">
        <mat-checkbox class="d-print-none" #estimadoCk></mat-checkbox>
        <b>Estimado: </b>‎₡{{estimado | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.prevision; let prevision"
        [ngClass]="{'d-print-none': !previsionCk.checked}">
        <mat-checkbox class="d-print-none" #previsionCk></mat-checkbox>
        <b>Previsión: </b>‎₡{{prevision | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.adjudicado; let adjudicado"
        [ngClass]="{'d-print-none': !adjudicadoCk.checked}">
        <mat-checkbox class="d-print-none" #adjudicadoCk></mat-checkbox>
        <b>Adjudicado: </b>‎₡{{adjudicado | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.calidad; let calidad"
        [ngClass]="{'d-print-none': !calidadCostoCk.checked}">
        <mat-checkbox class="d-print-none" #calidadCostoCk></mat-checkbox>
        <b>Control calidad: </b>‎₡ {{calidad | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.comunales; let comunales"
        [ngClass]="{'d-print-none': !comunalesCk.checked}">
        <mat-checkbox class="d-print-none" #comunalesCk></mat-checkbox>
        <b>Comunales: </b>‎₡{{comunales | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.ordenServicio; let ordenServicio"
        [ngClass]="{'d-print-none': !ordenServicioCk.checked}">
        <mat-checkbox class="d-print-none" #ordenServicioCk></mat-checkbox>
        <b>Orden de servicio: </b>‎₡{{ordenServicio | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.especie; let especie"
        [ngClass]="{'d-print-none': !especieCk.checked}">
        <mat-checkbox class="d-print-none" #especieCk></mat-checkbox>
        <b>Aportes en especie: </b>‎₡{{especie | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.especifica; let especifica"
        [ngClass]="{'d-print-none': !especificaCk.checked}">
        <mat-checkbox class="d-print-none" #especificaCk></mat-checkbox>
        <b>Partida específica: </b>‎₡{{especifica | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.ampliacion; let ampliacion"
        [ngClass]="{'d-print-none': !ampliacionCk.checked}">
        <mat-checkbox class="d-print-none" #ampliacionCk></mat-checkbox>
        <b>Ampliación: </b>‎₡{{ampliacion | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.reajuste; let reajuste"
        [ngClass]="{'d-print-none': !reajusteCk.checked}">
        <mat-checkbox class="d-print-none" #reajusteCk></mat-checkbox>
        <b>Reajuste: </b>‎₡{{reajuste | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.instituciones; let instituciones"
        [ngClass]="{'d-print-none': !institucionesCk.checked}">
        <mat-checkbox class="d-print-none" #institucionesCk></mat-checkbox>
        <b>Instituciones: </b>‎₡{{instituciones | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.extra1; let extra1"
        [ngClass]="{'d-print-none': !extra1Ck.checked}">
        <mat-checkbox class="d-print-none" #extra1Ck></mat-checkbox>
        <b>Extra 1: </b>‎₡{{extra1 | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.costos?.extra2; let extra2"
        [ngClass]="{'d-print-none': !extra2Ck.checked}">
        <mat-checkbox class="d-print-none" #extra2Ck></mat-checkbox>
        <b>Extra 2: </b>‎₡{{extra2 | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="administrativo" [ngClass]="{'d-print-none': !administrativoCk.checked}">
        <mat-checkbox class="d-print-none" #administrativoCk></mat-checkbox>
        <b>Costo administrativo: </b>‎₡{{administrativo | number : '1.2-3'}}
      </p>

      <p class="lead my-1 " *ngIf="costoTotal" [ngClass]="{'d-print-none': !costoTotalCk.checked}">
        <mat-checkbox class="d-print-none" #costoTotalCk></mat-checkbox>
        <b>Costos real del proyecto: </b>‎₡{{costoTotal | number : '1.2-3'}}
      </p>

      <div class="my-1  row justify-content-center" *ngIf="chart.data.length>0"
        [ngClass]="{'d-print-none': !chartCk.checked}">
        <mat-checkbox class="d-print-none" #chartCk></mat-checkbox>
        <div class="col-4">
          <canvas width="50%" height="50%" baseChart [data]="chart.data" [labels]="chart.labels" [legend]="true"
            [chartType]="'pie'" [options]="incomeOptions"></canvas>
        </div>
      </div>

      <!-- ******************************************************************************* -->

      <div *ngIf="proyecto?.riesgos?.length > 0">
        <h3 class="text-center text-primary"
          [ngClass]="{'d-print-none': !riesgosProCk?.checked}">Riesgos
        </h3>
        <p class="text-center">
          <mat-checkbox class="d-print-none" #riesgosProCk></mat-checkbox>
        </p>
        <table class="table" [ngClass]="{'d-print-none': !riesgosProCk?.checked}">
          <thead>
            <tr>
              <th scope="col">Fase</th>
              <th scope="col">Categoria</th>
              <th scope="col">Subcategoria</th>
              <th scope="col">Causa</th>
              <th scope="col">Consecuencia</th>
              <th scope="col">Actividad</th>
              <th scope="col">Nivel de riesgo (Probabilidad * Impacto)</th>
              <th scope="col">Respuesta</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let riesgo of proyecto?.riesgos">
              <th scope="row">{{riesgo.fase}}</th>
              <td>{{riesgo.categoria}}</td>
              <td>{{riesgo.subcategoria}}</td>
              <td>{{riesgo.causa}}</td>
              <td>{{riesgo.consecuencia}}</td>
              <td>{{riesgo.actividad}}</td>
              <td>{{riesgo.prob}} * {{riesgo.imp}} = {{riesgo.prob * riesgo.imp}} %</td>
              <td>{{riesgo?.respuesta || 'Sin respuesta'}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- ******************************************************************************* -->

      <h3 class="text-center text-primary" *ngIf="proyecto.seguimiento"
        [ngClass]="{'d-print-none': !seguimientoCk.checked}">
        <mat-checkbox class="d-print-none" #seguimientoCk></mat-checkbox>Seguimiento
      </h3>

      <p class="lead my-1 " *ngIf="proyecto?.seguimiento?.ejecutado ; let ejecutdo"
        [ngClass]="{'d-print-none': !ejecutdoCk.checked}">
        <mat-checkbox class="d-print-none" #ejecutdoCk></mat-checkbox>
        <b>Ejecutada:</b> {{ejecutdo}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.seguimiento?.ejecutar; let ejecutar"
        [ngClass]="{'d-print-none': !ejecutarCk.checked}">
        <mat-checkbox class="d-print-none" #ejecutarCk></mat-checkbox>
        <b>Ejecutar:</b> {{ejecutar}}
      </p>

      <div *ngIf="proyecto?.completar; let completar" [ngClass]="{'d-print-none': !completarCk.checked}">
        <p>
          <mat-checkbox class="d-print-none" #completarCk></mat-checkbox><b>Puntos por completar:</b>
        </p>
        <p *ngFor="let punto of completar; let i = index">
          <mat-checkbox color="primary" [disabled]="true" [checked]="punto.check">{{punto.punto}}</mat-checkbox>
        </p>
      </div>

      <!-- ******************************************************************************* -->

      <h3 class="text-center text-primary" *ngIf="proyecto?.informacion"
        [ngClass]="{'d-print-none': !informacionCk.checked}">
        <mat-checkbox class="d-print-none" #informacionCk></mat-checkbox>Información
      </h3>

      <p class="lead my-1 " *ngIf="proyecto?.informacion?.fase; let fase" [ngClass]="{'d-print-none': !faseCk.checked}">
        <mat-checkbox class="d-print-none" #faseCk></mat-checkbox>
        <b>Fase: </b>‎{{fase}}
      </p>

      <div *ngIf="proyecto?.informacion?.equipo.length > 0 && proyecto?.informacion?.equipo"
        class="row justify-content-around" [ngClass]="{'d-print-none': !equipoCk.checked}">
        <h4 class="text-center col-12">
          <mat-checkbox class="d-print-none" #equipoCk></mat-checkbox>Miembros del equipo:
        </h4>
        <p class="lead text-justify" *ngFor="let miembro of proyecto?.informacion?.equipo">
          {{miembro.nombre | uppercase}} : {{ miembro.rol }}
        </p>
      </div>

      <p class="lead my-1 " *ngIf="proyecto?.informacion?.coordenadas; let coordenadas"
        [ngClass]="{'d-print-none': !coordenadasCk.checked}">
        <mat-checkbox class="d-print-none" #coordenadasCk></mat-checkbox>
        <b>Coordenadas: </b>‎Lat: {{coordenadas[0][1]}} ‎Lng: {{coordenadas[0][0]}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.informacion?.descripcion; let descripcion"
        [ngClass]="{'d-print-none': !descripcionCk.checked}">
        <mat-checkbox class="d-print-none" #descripcionCk></mat-checkbox>
        <b>Descripcion: </b>‎{{descripcion}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.informacion?.ubicacion; let ubicacion"
        [ngClass]="{'d-print-none': !ubicacionCk.checked}">
        <mat-checkbox class="d-print-none" #ubicacionCk></mat-checkbox>
        <b>Ubicacion: </b>‎{{ubicacion}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.informacion?.dimensiones; let dimensiones"
        [ngClass]="{'d-print-none': !dimensionesCk.checked}">
        <mat-checkbox class="d-print-none" #dimensionesCk></mat-checkbox>
        <b>Dimensiones: </b>‎{{dimensiones}}
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.informacion?.poblacion; let poblacion"
        [ngClass]="{'d-print-none': !poblacionCk.checked}">
        <mat-checkbox class="d-print-none" #poblacionCk></mat-checkbox>
        <b>Población beneficiada: </b>{{poblacion}} personas
      </p>

      <p class="lead my-1 " *ngIf="proyecto?.informacion?.vidaUtil" [ngClass]="{'d-print-none': !vidaUtilCk?.checked}">
        <mat-checkbox class="d-print-none" #vidaUtilCk></mat-checkbox>
        <b>Vida útil: </b> {{proyecto?.informacion?.vidaUtil}} años
      </p>


    </div>
  </div>
</article>
