.resumen {
    position: inherit;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}

.left-side {
    max-width: 35%;
  }

.draging {
    min-height: 200px;
    background-color: lightblue;
}
  
.draging-left {
    min-height: 50px;
    background-color: lightblue;
}

.mat-drawer-container {
    background-color: white;
}