<div class="input-group fixed-top busqueda">
  <div class="input-group-prepend">
    <span class="input-group-text" id="busqueda"><strong>@ 1-19-</strong></span>
  </div>
  <input type="text" class="form-control" placeholder="Busqueda" aria-label="Username" aria-describedby="busqueda"
    (keyup.enter)="filter($event.target.value)">
</div>
<section>
  <div #gmap class="mapa" [ngStyle]="{'height': height + 'px'}"></div>
</section>
<!-- <div #map id="map">
</div> -->
<div class="btn-group fixed-bottom acciones justify-content-center" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-dark" (click)="quitarUltimo()" *ngIf="multiple && puntosLinea.length > 0">
    <mat-icon aria-label="Map icon">remove_circle</mat-icon>
  </button>
  <button type="button" class="btn btn-dark" (click)="definirTipo(true)" [disabled]="multiple">
    <mat-icon aria-label="Map icon">timeline</mat-icon>
  </button>
  <button type="button" class="btn btn-dark" (click)="definirTipo(false)" [disabled]="!multiple">
    <mat-icon aria-label="Map icon">add_location</mat-icon>
  </button>
  <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
  <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
</div>