.elevation {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
}

.nav-up {
  top: -56px;
  transition: top 0.2s ease-in-out;
}

.nav-down {
  top: 0;
  transition: top 0.2s ease-in-out;
}

.over {
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.search {
    width: 200px;
}
