<mat-toolbar class="bg-dark text-white d-print-none mat-elevation-z14">
  <button mat-icon-button (click)="openMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span [routerLink]="['/gestion/portafolios']" routerLinkActive="text-danger">GWPVI</span>
  <span class="spacer"></span>
  <form class="form-inline">
    <input class="form-control mr-sm-2 search" type="proyectos" placeholder="Buscar" aria-label="proyectos"
      (keyup.enter)="realizarBusqueda($event.target.value)">
  </form>
</mat-toolbar>
<router-outlet></router-outlet>