<div class="container back">
  <p class="text-center lead text-primary mt-5">
    Reporte de errores se encuenta en proceso de desarrollo
  </p>
  <p class="text-center lead text-primary mt-3">
    Pronto podrá hacer uso de esta sección, Gracias.
  </p>
</div>
