<div class="row justify-content-center">
    <h2 class="col-12 text-center mb-3 text-primary">Avance del proyecto
        <fa-icon class="sync" [icon]="sync" [spin]="true" *ngIf="trabajando"></fa-icon>
    </h2>
</div>
<div class=" mx-3 animated fadeIn" *ngIf="!editando">
    <div class="row justify-content-center" *ngIf="avance$ | async as avance; else noAvance">

        <div class="mb-2 col-lg-10 col-sm-12 my-1" *ngIf="avance?.porcentaje; let porcentaje">
            <progressbar class="progress-striped active" [value]="porcentaje" striped="true" type="info" animate="true"
                [max]="100">
                <i>{{porcentaje}}%</i>
            </progressbar>
        </div>

        <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="avance?.inicio">
            <b>Inicio ejecución: </b> {{avance?.inicio | date:'dd/MM/yyyy'}}</p>

        <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="avance?.fin">
            <b>Finalizado ejecución: </b> {{avance?.fin | date:'dd/MM/yyyy'}}</p>

        <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="avance?.plazo">
            <b>Plazo contractual: </b> {{avance?.plazo}}</p>

        <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="!!avance.inicio && !!avance.plazo" [ngClass]="{'text-danger': (hoy - (avance.inicio + ((avance.plazo - 1) * 86400000))) > 86400000 }">
            <b>Fecha límite a: </b> {{ (avance.inicio + ((avance.plazo - 1) * 86400000))| date: 'dd/MM/yyyy'}}</p>

        <p class="lead col-lg-5 col-sm-12 my-1 text-center text-danger" *ngIf="!!avance.plazo && !!avance.inicio && !avance.fin && (hoy - (avance.inicio + ((avance.plazo - 1) * 86400000))) > 86400000">
            <b>Días de atraso: </b> {{ ((hoy - (avance.inicio + ((avance.plazo ) * 86400000))) / 86400000) |
            number:'1.0-0'}}</p>

        <p class="lead col-lg-5 col-sm-12 my-1 text-center text-danger" *ngIf="!!avance.fin && avance.fin > (avance.inicio + ((avance.plazo - 1) * 86400000))">
            <b>Días de atraso: </b> {{ (avance.fin - (avance.inicio + ((avance.plazo - 1) * 86400000))) / 86400000 |
            number:'1.0-0'}}</p>

        <p class="lead col-lg-5 col-sm-12 my-1 text-center text-info" *ngIf="!!avance.inicio && !avance.fin">
            <b>Duración de ejecución: </b> {{ (hoy - avance.inicio) / 86400000 | number:'1.0-0'}}</p>

        <p class="lead col-lg-5 col-sm-12 my-1 text-center text-info" *ngIf="!!avance.inicio && !!avance.fin">
            <b>Duración de ejecución: </b> {{ (avance.fin - avance.inicio + 86400000) / 86400000 | number:'1.0-0'}}</p>
    </div>

    <ng-template #noAvance>
        <p class="lead my-1 text-center">No hay datos de avance, fechas o plazos para este proyecto</p>
    </ng-template>

    <ul class="list-group col-12 my-3 no-col-pad" *ngIf="(bitacora$ | async); let bitacoras">
        <li class="list-group-item active text-center lead">
            <b>Bitácora</b>
        </li>
        <div class="btn-group d-print-none" role="group" aria-label="Basic example" *ngIf="bitacoras.length > 0">
            <button type="button" class="btn list-group-item-action text-center btn-secondary active" (click)="masLineas()">Más
                lineas
                <fa-icon [icon]="mas"></fa-icon>
            </button>
            <button type="button" class="btn list-group-item-action text-center btn-secondary active" (click)="todasLineas()">Todas
                <fa-icon [icon]="todas"></fa-icon>
            </button>
        </div>
        <li class="list-group-item lead animated pulse text-justify" *ngFor="let comentario of lineasBitacora | async ">
            <b> {{comentario.fecha | date:'dd/MM/yyyy hh:mm a'}}</b> -
            <i>{{comentario.linea}} </i>
            <span class="badge badge-pill badge-danger">{{comentario.usuario | uppercase}}</span>
        </li>
        <li class="list-group-item lead animated pulse text-center" *ngIf="bitacoras.length == 0">
            No hay bitacoras por el momento. Agregue una con el botón de "Agregar bitácora"
        </li>
        <div class="btn-group d-print-none" role="group" aria-label="Basic example" *ngIf="editor">
            <button type="button" class="btn list-group-item-action text-center btn-secondary active" (click)="mostrarBitacora()">{{mostarLiena
                ? 'Ocultar' : 'Agregar bitácora'}}
                <fa-icon [icon]="agregar"></fa-icon>
            </button>
        </div>
    </ul>

    <mat-form-field appearance="outline" class="col-10" *ngIf="mostarLiena">
        <mat-label>Nueva bitácora</mat-label>
        <input matInput class="form-control" placeholder="Sea específico" [formControl]="linea">
        <mat-error *ngIf="linea.hasError('minlength')">Minimo 10 caracteres, sea más creativo</mat-error>
    </mat-form-field>

    <button mat-icon-button class="mt-3 col-1" color="warn" (click)="agregarBitacora()" [disabled]="linea.invalid"
        *ngIf="mostarLiena">
        <fa-icon [icon]="mas" size="3x"></fa-icon>
    </button>

    <ul class="list-group col-12 my-3 no-col-pad" *ngIf="(pendiente$ | async); let pendientes">
        <li class="list-group-item active text-center lead" *ngIf="pendientes.length>0">
            <b>Pendientes</b>
        </li>
        <div *ngIf="pendientesSinAtender(pendientes).length>0">
            <li class="list-group-item text-center lead text-dang">
                <b>Sin atender</b>
            </li>
            <li class="list-group-item lead text-justify" *ngFor="let pendiente of pendientesSinAtender(pendientes); let i = index">
                <span class="badge badge-pill badge-info">{{i+1}}.</span> {{pendiente.asunto}} - creado
                {{pendiente.generado | date:'dd/MM/yyyy'}}</li>
        </div>
        <div *ngIf="pendientesAtendidos(pendientes).length>0">
            <li class="list-group-item text-center lead">
                <b>Atendidos</b>
            </li>
            <li class="list-group-item lead text-justify" *ngFor="let pendiente of pendientesAtendidos(pendientes); let i = index">
                <span class="badge badge-pill badge-info">{{i+1}}.</span> {{pendiente.asunto}} - creado
                {{pendiente.generado | date:'dd/MM/yyyy'}} - resuelto {{pendiente.resuelto | date:'dd/MM/yyyy'}}
            </li>
        </div>
    </ul>

</div>

<!-- Editando el contenido -->

<div class="row mx-3 justify-content-center animated fadeIn" *ngIf="editando" [formGroup]="avanceEditar">

    <ul class="list-group col-sm-12 col-lg-10 my-1 no-col-pad mb-3" *ngIf="(pendiente$ | async) && pendientesSinAtender((pendiente$ | async)).length > 0">
        <li class="list-group-item active text-center lead">
            <b>Pendientes</b>
        </li>
        <li class="list-group-item text-center lead text-dang">
            <b>Sin atender</b>
        </li>
        <button type="button" class="list-group-item list-group-item-action" *ngFor="let pendiente of pendientesSinAtender((pendiente$ | async)); let i = index"
            (click)="pen = pendiente" [ngClass]="{'list-group-item-danger': pen == pendiente}">
            <span class="badge badge-pill badge-info">{{i+1}}.</span> {{pendiente.asunto}}
            <button class="btn btn-dark ml-5" type="button" *ngIf="pen == pendiente" (click)="finalizarPendiente(pen)">Atendido
                <fa-icon [icon]="listo"></fa-icon>
            </button>
        </button>
    </ul>

    <mat-form-field appearance="outline" class="col-10">
        <mat-label>Pendiente</mat-label>
        <input matInput class="form-control" placeholder="Sea específico" [formControl]="pendiente">
        <mat-error *ngIf="pendiente.hasError('minlength')">Minimo 10 caracteres, sea más creativo</mat-error>
    </mat-form-field>

    <button mat-icon-button class="mt-3 col-1" color="warn" (click)="agregarPendiente()" [disabled]="pendiente.invalid">
        <fa-icon [icon]="mas" size="3x"></fa-icon>
    </button>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Inicio de ejecución</mat-label>
        <input matInput [matDatepicker]="pickerInicio" placeholder="Fecha de inicio" [value]="inicio" (dateChange)="definirFecha($event, true)"
            disabled>
        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicio disabled="false" touchUi></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Finalización de ejecución</mat-label>
        <input matInput [matDatepicker]="pickerFinalizacion" placeholder="Fecha de finalización" [value]="final"
            (dateChange)="definirFecha($event, false)" disabled>
        <mat-datepicker-toggle matSuffix [for]="pickerFinalizacion"></mat-datepicker-toggle>
        <mat-datepicker #pickerFinalizacion disabled="false" touchUi></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Procentaje de avance</mat-label>
        <mat-select placeholder="Procentaje de avance" formControlName="porcentaje">
            <mat-option [value]="porcentaje" *ngFor="let porcentaje of porcentajes">{{porcentaje}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
        <mat-label>Plazo contractual</mat-label>
        <input matInput placeholder="Sea específico" formControlName="plazo" type="number">
    </mat-form-field>

</div>

<div class="row mt-3 justify-content-center d-print-none" *ngIf="editor">
    <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-md-5 col-10 m-2 animated fadeIn"
        (click)="editarDatos()" *ngIf="!editando">Editar
        <fa-icon [icon]="editar"></fa-icon>
    </button>
    <button type="button" [disabled]="trabajando" class="btn btn-outline-primary col-5 m-2 animated fadeIn" (click)="guardarAvance()"
        *ngIf="editando">Guardar
        <fa-icon [icon]="guardar"></fa-icon>
    </button>
    <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-5 m-2 animated fadeIn" (click)="cancelarAvance()"
        *ngIf="editando">Cancelar
        <fa-icon [icon]="cancelar"></fa-icon>
    </button>
</div>