<article class="container">
  <h3 class="text-center mt-3 mat-h1">Portafolios</h3>
  <section>
    <p class="text-center">
      <mat-form-field appearance="outline">
        <mat-label>Nuevo portafolio</mat-label>
        <input matInput placeholder="Nombre del portafolio" [formControl]="nuevoPortafolio">
      </mat-form-field>
    </p>
    <p class="text-center">
      <button mat-raised-button [disabled]="nuevoPortafolio.invalid" (click)="agregar()">Agregar</button>
    </p>
  </section>
  <section>
    <p *ngFor="let portafolio of portafolios | async; let i = index"> {{i+1}}. {{ portafolio.name }}</p>
  </section>
</article>