<app-encabezado [header]="'Inversión por programa'"></app-encabezado>

<div class="container">
  <p class="text-center d-print-none"><button mat-raised-button color="primary" (click)="refrescar()">Refrescar</button></p>

  <table class="table back mat-elevation-z20">
    <tbody>
      <div *ngFor="let portafolio of costosPrograma | async; let i = index">
        <h3 class="text-danger text-center col-12 mt-4" [ngClass]="{'d-print-none': !imprimir[i]}">
          <mat-checkbox color="primary" [checked]="imprimir[i]" (change)="imprimir[i] = !imprimir[i]" [ngClass]="{'d-print-none': !imprimir[i]}"></mat-checkbox>{{portafolio.portafolio}}
        </h3>
        <tr class="row justify-content-center" [ngClass]="{'d-print-none': !imprimir[i]}">
          <td *ngIf="obtenerPortafolio(portafolio.portafolio) | async; let costosPortafolio" class="row col-12 justify-content-center">
            <div class="col-10">
              <progressbar class="progress-striped active mb-3" [value]="costosPortafolio.avance" striped="true" type="info"
                animate="true" [max]="100">
                <i>{{costosPortafolio.avance | number : '1.1-2'}}%</i>
              </progressbar>
            </div>
            <div class="col-12 col-md-6">
              <p>Avance: {{costosPortafolio.avance | number : '1.1-2'}} %</p>
              <p>Cantidad de proyectos: {{costosPortafolio.cantidad }}</p>
              <p>Previsión: {{costosPortafolio.prevision | number : '1.2-3'}}</p>
              <p>Inversión: {{costosPortafolio.inversion | number : '1.2-3'}}</p>
            </div>
            <div class="col-12 col-md-6">
              <canvas baseChart [chartType]="'pie'" [data]="[costosPortafolio.fases.preinversion,costosPortafolio.fases.operacion,costosPortafolio.fases.ejecucion,costosPortafolio.fases.detenido]"
                [labels]="['Preinversión', 'Operación', 'Ejecución', 'Detenido']" [options]="pieOptions"></canvas>
            </div>
          </td>
        </tr>

        <tr class="row justify-content-center" *ngFor="let sumatoria of portafolio.sumatorias" [ngClass]="{'d-print-none': !imprimir[i]}">
          <td class="col-12 row">

            <p class="lead text-info text-center col-12">{{sumatoria.programa}}</p>

            <div class="col-12 col-md-3">
              <p>Avance: {{sumatoria.sumatoria.avance | number : '1.2-3'}} %</p>
              <p>Cantidad de proyectos: {{sumatoria.sumatoria.cantidad }} </p>
              <p>Previsión: {{sumatoria.sumatoria.prevision | number : '1.2-3'}}</p>
              <p>Inversión: {{sumatoria.sumatoria.inversion | number : '1.2-3'}}</p>
              <p>Invertido: {{(sumatoria.sumatoria.inversion / sumatoria.sumatoria.prevision) * 100 || 0 | number :
                '1.2-3'}} %</p>
            </div>

            <div class="col-12 col-md-4">
              <canvas baseChart [datasets]="[{data: [sumatoria.sumatoria.prevision], label: 'Previsión'}, {data: [sumatoria.sumatoria.inversion], label: 'Inversión'}]"
                [labels]="[sumatoria.programa]" [options]="incomeOptions" [legend]="true" [chartType]="'horizontalBar'">
              </canvas>
            </div>

            <div class="col-12 col-md-5" *ngIf="obtenerFases(sumatoria.sumatoria.fases); let fases">
              <canvas baseChart [chartType]="'pie'" [data]="[fases.preinversion,fases.operacion,fases.ejecucion,fases.detenido]"
                [labels]="['Preinversión', 'Operación', 'Ejecución', 'Detenido']" [options]="pieOptions"></canvas>
            </div>

            <div class="col-12 col-md-5" *ngIf="!obtenerFases(sumatoria.sumatoria.fases)">
              <p class="lead text-info">No hay proyectos con fase definida</p>
            </div>

          </td>
        </tr>
      </div>
    </tbody>
  </table>
</div>