<article class="container">
  <p class="text-center lead text-danger bigger">Herramientas utilizadas</p>
  <section class="card my-5 floating mat-elevation-z12">
    <div class="card-body row mat-elevation-14">
      <div class="col-12 col-md-6 text-center">
        <img src="assets/img/node.jpg" alt="nodejs" class="img-fluid rounded">
      </div>
      <div class="col-12 col-md-6">
        <p class="text-primary lead text-center name">Node js</p>
        <p class="lead text-justify">
          Base con la cual se inician tanto los servidores como las paginas web, se podria decir que esel principal
          pilar para inciar un desarrollo, además brinda la ventaja de ser Open Source
        </p>
      </div>
    </div>
  </section>

  <section class="card my-5 floating mat-elevation-z12">
    <div class="card-body row mat-elevation-14">
      <div class="col-12 col-md-6 text-center">
        <img src="assets/img/mapbox.png" alt="angular" class="img-fluid rounded">
      </div>
      <div class="col-12 col-md-6">
        <p class="text-primary lead text-center name">MapBox</p>
        <p class="lead text-justify">
          Librería Javascript que se inyecta a la pagina para permitir la carga del mapa, que es utilizado para mostrar
          los caminos y ademas la ubicación de los proyectos mediante los puntos geográficos
        </p>
      </div>
    </div>
  </section>

  <section class="card my-5 floating mat-elevation-z12">
    <div class="card-body row mat-elevation-14">
      <div class="col-12 col-md-6 text-center">
        <img src="assets/img/angular.png" alt="angular" class="img-fluid rounded">
      </div>
      <div class="col-12 col-md-6">
        <p class="text-primary lead text-center name">Angular</p>
        <p class="lead text-justify">
          Framework utilizado para el desarrollo de la pagina y pintar todo lo que es el contenido al usuario de manera
          amigable y que permite la modificación del mismo de manera facil y en todo lugar
        </p>
        <p>Para GWPVI se utiliza la ultima versión: 6.2.3</p>
      </div>
    </div>
  </section>

  <section class="card my-5 floating mat-elevation-z12">
    <div class="card-body row mat-elevation-14">
      <div class="col-12 col-md-6 text-center">
        <img src="assets/img/pwa.png" alt="angular" class="img-fluid rounded">
      </div>
      <div class="col-12 col-md-6">
        <p class="text-primary lead text-center name">Progressive Web App (PWA) </p>
        <p class="lead text-justify">
          Es una tecnologia que es implementada como un complemento con Angular para lograr una aplicación web y que
          sea multiplataforma, de este modo el sitio web no solo prodra ser instalado como una aplicación nativa en los
          dispositivos Android y Windows, sino que nos ofrecera actualizaciones continuas y sin percibir dichos
          cambios.
        </p>
      </div>
    </div>
  </section>

  <section class="card my-5 floating mat-elevation-z12">
    <div class="card-body row mat-elevation-14">
      <div class="col-12 col-md-6 text-center">
        <img src="assets/img/ngxs.png" alt="angular" class="img-fluid rounded">
      </div>
      <div class="col-12 col-md-6">
        <p class="text-primary lead text-center name">NGXS</p>
        <p class="lead text-justify">
          Es una librería que permite controlar la información como un estado en la aplicación, por lo que el principal
          beneficio que ofrece es la mutación de la información con funcionalidades simple como las que se presentan en
          GWPVI
        </p>
      </div>
    </div>
  </section>
</article>
