/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~animate.css/animate.min.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; background-image: url("assets/imgs/gv_things.png"); background-attachment: fixed; }
.back {
    background-color: white;
    border-radius: 1rem;
}

@media print { 
    /* All your print styles go here */
    body { margin: 0; font-family: 'Roboto', sans-serif; background-image: none; background-attachment: fixed; }
}