<div class="container animated fadeIn">
    <app-logo-usuario></app-logo-usuario>
    <h1 class="text-center btn-link" (click)="masInformacion = !masInformacion">{{proyecto.nombre }}</h1>

    <div class="row justify-content-center" *ngIf="masInformacion">

        <div class="col-12">
            <p class="lead text-center">
                <b>{{proyecto.sinonimo}}</b>
            </p>
        </div>
        <div class="col-12">
            <p class="lead text-center">
                <b>Expediente:</b> {{proyecto.expediente}}</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4  col-xl-3">
            <p class="lead text-center">
                <b>Portafolio:</b> {{proyecto.portafolio}}</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4  col-xl-3">
            <p class="lead text-center">
                <b>Programa:</b> {{proyecto.programa}}</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4  col-xl-3">
            <p class="lead text-center">
                <b>Prioridad:</b> {{proyecto.prioridad}}</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4  col-xl-3">
            <p class="lead text-center">
                <b>Creación:</b> {{proyecto.creado | date : 'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4  col-xl-3" *ngIf="proyecto.actualizado">
            <p class="lead text-center">
                <b>Actualización:</b> {{proyecto.actualizado | date : 'dd/MM/yyyy hh:mm a'}}</p>
        </div>
        <div class="col-12 text-center d-print-none" *ngIf="editor">
            <button type="button" class="btn btn-outline-danger" (click)="editarInfo()">Editar
        <fa-icon [icon]="editar"></fa-icon>
      </button>
        </div>
    </div>
</div>