<app-encabezado [header]="'Inspecciones'"></app-encabezado>
<article class="back container">
  <section class="py-3">
    <p class="text-center"> <button mat-raised-button color="primary" [routerLink]="['/gestion/inspeccion']" >Nueva inspeccion <mat-icon>add</mat-icon></button></p>
  </section>
</article>