<app-encabezado [header]="'Proyectos por prioridad'" [loading]="consultando"></app-encabezado>
<div class="container">
  <div class="row justify-content-center d-print-none back mat-elevation-z20 pt-3" [formGroup]="accionFG" *ngIf="parametros | async as params">

    <mat-form-field appearance="outline" class="col-10 col-lg-5">
      <mat-label>Portafolio</mat-label>
      <mat-select placeholder="Portafolio" formControlName="portafolio">
        <mat-option *ngFor="let portafolio of params.portafolios" [value]="portafolio.name">
          {{portafolio.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-10 col-lg-5">
      <mat-label>Prioridad</mat-label>
      <mat-select placeholder="Prioridad de proyecto" formControlName="prioridad" multiple>
        <mat-option *ngFor="let prioridad of params.prioridades" [value]="prioridad">
          {{prioridad}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="text-center mb-2 col-12">
      <button mat-raised-button color="primary" [disabled]="!accionFG.dirty || accionFG.value.prioridad.length == 0"
        (click)="generarReporte()">Generar reporte</button>
    </div>
  </div>
  <p class="lead my-1 text-center my-3 text-danger" *ngIf="consultando">Consultando proyectos
    <fa-icon [icon]="loading" [spin]="true"></fa-icon>
  </p>
  <p class="lead my-1 text-center my-3 text-danger" *ngIf="proyectos.length == 0 && !consultando">No hay proyectos que
    mostrar</p>
  <div class="d-none d-print-flex row justify-content-center" *ngIf="accionFG.value.prioridad.length > 0">
    <p class="lead text-center col-12">Criterios de busqueda</p>
    <p class="col-12 text-center">Portafolio: {{accionFG.value.portafolio}}</p>
    <ul class="list-group col-6" *ngIf="accionFG.value.prioridad.length > 0">
      <li class="list-group-item active text-center">Prioridades</li>
      <li class="list-group-item" *ngFor="let prioridad of accionFG.value.prioridad">{{prioridad}}</li>
    </ul>
  </div>

  <table class="table table-striped back mat-elevation-z20 mt-5" *ngIf="!consultando && proyectos.length >  0">
    <thead>
      <tr>
        <th scope="col">Proyectos encontrados: {{proyectos.length}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proyecto of proyectos">
        <td>
            <h5 class="card-title btn-link" (click)="irProyecto(proyecto.id)">{{proyecto.nombre}}</h5>
            <p class="card-text">{{proyecto.portafolio}} / {{proyecto.expediente}}</p>
            <p class="card-text" *ngIf="proyecto.prioridad">Prioridad: {{proyecto.prioridad}}</p>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="container mt-3" *ngIf="!consultando && proyectos.length >  0">
    <p class="lead text-center text-danger">Proyectos encontrados: {{proyectos.length}}</p>
    <div class="row">
      <div class="card col-12 mb-3" *ngFor="let proyecto of proyectos">
        <div class="card-body">
          <h5 class="card-title btn-link" (click)="irProyecto(proyecto.id)">{{proyecto.nombre}}</h5>
          <p class="card-text">{{proyecto.portafolio}} / {{proyecto.expediente}}</p>
          <p class="card-text" *ngIf="proyecto.prioridad">Prioridad: {{proyecto.prioridad}}</p>
        </div>
      </div>
    </div>
  </div> -->
</div>
