<div class="row justify-content-center">
  <h2 class="col-12 text-center mb-3 text-primary">Seguimiento del proyecto
    <fa-icon class="sync" [icon]="sync" [spin]="true" *ngIf="trabajando"></fa-icon>
  </h2>
</div>

<div class="row mx-3 justify-content-center animated fadeIn " *ngIf="!editando">
  <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="!(seguimiento$ | async)">No hay seguimiento definida para
    este proyecto</p>
  <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(seguimiento$ | async)?.ejecutado ; let ejecutdo">
    <b>Ejecutada:</b> {{ejecutdo}}</p>
  <p class="lead col-lg-5 col-sm-12 my-1 text-center" *ngIf="(seguimiento$ | async)?.ejecutar; let ejecutar">
    <b>Ejecutar:</b> {{ejecutar}}</p>

  <app-completado class="col-12" [lista]="completar" [proId]="proId"></app-completado>

  <ul class="list-group col-10 my-3 no-col-pad" *ngIf="inspecciones && inspecciones.length > 0">
    <li class="list-group-item active text-center lead">
      <b>Inspecciones</b>
    </li>
    <div *ngIf="inspeccionesPendientes(inspecciones).length>0">
      <li class="list-group-item text-center lead">
        <b>Pendientes</b>
      </li>
      <li class="list-group-item lead text-justify" *ngFor="let pendiente of inspeccionesPendientes(inspecciones); let i = index">
        <span class="badge badge-pill badge-info">{{i+1}}.</span> {{pendiente.programada | date:'dd/MM/yyyy'}}</li>
    </div>
    <div *ngIf="inspeccionesCumplidas(inspecciones).length>0">
      <li class="list-group-item text-center lead">
        <b>Realizadas</b>
      </li>
      <li class="list-group-item lead text-justify" *ngFor="let realizada of inspeccionesCumplidas(inspecciones); let i = index">
        <span class="badge badge-pill badge-info">{{i+1}}.</span> {{realizada.programada | date:'dd/MM/yyyy'}} -
        {{realizada.detalles}} -
        <span class="badge badge-pill badge-primary">{{realizada.usuario | uppercase}} </span>{{realizada.realizada |
        date:'dd/MM/yyyy hh:mm a'}}
      </li>
    </div>
  </ul>
</div>

<div class="row mx-3 justify-content-center animated fadeIn " *ngIf="editando">

  <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
    <mat-label>Acción ejecutada</mat-label>
    <mat-select placeholder="Acción ejecutada" [(ngModel)]="newSeguimiento.ejecutado">
      <mat-option *ngFor="let ejecutada of (parametros | async)?.acciones" [value]="ejecutada">{{ejecutada}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-lg-5 col-sm-12">
    <mat-label>Acción por ejecutar</mat-label>
    <mat-select placeholder="Acción por ejecutar" [(ngModel)]="newSeguimiento.ejecutar">
      <mat-option *ngFor="let ejecutar of (parametros | async)?.acciones" [value]="ejecutar">{{ejecutar}}</mat-option>
    </mat-select>
  </mat-form-field>

  <app-completado class="col-12" [agregar]="true" [lista]="completar" [proId]="proId"></app-completado>

  <mat-form-field appearance="outline" class="col-10 col-md-5">
    <mat-label>Inspección</mat-label>
    <input matInput [matDatepicker]="pickerInspeccion" placeholder="Fecha de inicio" [value]="generarFecha(newInspeccion.programada)"
      (dateChange)="definirInspeccion($event)" disabled>
    <mat-datepicker-toggle matSuffix [for]="pickerInspeccion"></mat-datepicker-toggle>
    <mat-datepicker #pickerInspeccion disabled="false" touchUi></mat-datepicker>
  </mat-form-field>

  <button mat-icon-button class="mt-4" color="warn" (click)="agregarInspeccion()" [disabled]="checkIns()">
    <fa-icon [icon]="mas" size="3x"></fa-icon>
  </button>

  <h3 class="col-12 text-center text-info" *ngIf="inspecciones && inspeccionesPendientes(inspecciones).length > 0">
    Inspecciones pendientes </h3>

  <div class="row col-12 justify-content-center" *ngIf="inspecciones && inspeccionesPendientes(inspecciones).length > 0">
    <button class="m-3" mat-raised-button *ngFor="let pendiente of inspeccionesPendientes(inspecciones); let i = index"
      (click)="ins = pendiente; detallesInspeccion.reset('')" [ngClass]="{'list-group-item-danger': ins == pendiente}">{{pendiente.programada
      | date:'dd/MM/yyyy'}}</button>
  </div>

  <mat-form-field appearance="outline" class="col-10 animated fadeInDown" *ngIf="ins">
    <mat-label>{{ins.programada | date:'dd/MM/yyyy'}}</mat-label>
    <input matInput class="form-control" [formControl]="detallesInspeccion" placeholder="Detalles de inspección"
      [ngClass]="{'is-valid': detallesInspeccion.valid, 'is-invalid': detallesInspeccion.invalid && (detallesInspeccion.dirty || detallesInspeccion.touched)}">
  </mat-form-field>

  <button *ngIf="ins" mat-icon-button class="mt-2" color="warn" (click)="inspeccionFinalizada(ins)" [disabled]="detallesInspeccion.invalid">
    <fa-icon [icon]="listo" size="3x"></fa-icon>
  </button>

</div>

<div class="row mt-3 justify-content-center d-print-none" *ngIf="editor">
  <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-md-5 col-10 m-2 animated fadeIn"
    (click)="editarDatos()" *ngIf="!editando">Editar
    <fa-icon [icon]="editar"></fa-icon>
  </button>
  <button type="button" [disabled]="trabajando" class="btn btn-outline-primary col-5 m-2 animated fadeIn" (click)="guardarSeguimiento()"
    *ngIf="editando">Guardar
    <fa-icon [icon]="guardar"></fa-icon>
  </button>
  <button type="button" [disabled]="trabajando" class="btn btn-outline-danger col-5 m-2 animated fadeIn" (click)="cancelarSeguimiento(); ins= null;"
    *ngIf="editando">Cancelar
    <fa-icon [icon]="cancelar"></fa-icon>
  </button>
</div>