<p class="lead text-info mt-3 text-center" *ngIf="!agregarMas">
  Completado
</p>

<div *ngIf="!agregarMas">
  <p *ngFor="let completar of puntosCompletar; let i = index">
    <mat-checkbox color="primary" [disabled]="!!completar.check" [checked]="completar.check" (change)="marcar(completar)">{{completar.punto}}</mat-checkbox>
  </p>
</div>

<p class="lead text-info mt-3 text-center" *ngIf="agregarMas">
  Completar
</p>

<div *ngIf="agregarMas">
  <p *ngFor="let completar of puntosCompletar; let i = index">
    {{completar.punto}}
  </p>
</div>

<div class="row justify-content-center" *ngIf="agregarMas">
  <mat-form-field appearance="outline" class="col-10 col-md-6">
    <mat-label>Nuevo</mat-label>
    <input [formControl]="nuevoPunto" matInput placeholder="Sea especifico" #nuevo>
    <mat-error *ngIf="nuevoPunto.hasError('pattern')">Error de formato, evite usar comilla simple'</mat-error>
  </mat-form-field>

  <button mat-icon-button class="mt-1" color="warn" (click)="agregar()" [disabled]="nuevoPunto.invalid">
    <fa-icon [icon]="mas" size="3x"></fa-icon>
  </button>
</div>