<div class="container">
  <app-encabezado [header]="'Cartera de portafolios'"></app-encabezado>

  <div class="row justify-content-center" *ngIf="isEditor()">
    <button type="button" class="btn btn-danger col-md-4 mx-3" (click)="mostrar()">
      <fa-icon [icon]="mas"></fa-icon> Nuevo proyecto
    </button>
  </div>
  <div class="row mt-4">
    <div class="mb-4 col-12 col-md-4 col-sm-6" *ngFor="let portafolio of portafolio$ | async; let i = index">
      <div class="card floating radius mat-elevation-z24" [ngClass]="{'floating': i%2, 'floating2': !(i%2)}" (mouseover)="over=i" (mouseout)="over=-1" (click)="irPortafolio(portafolio.portafolio)">
        <div class="card-body">
          <mat-icon>business_center</mat-icon>
          <h5 class="card-title lead text-center text-danger">{{portafolio.portafolio}}</h5>
          <p class="card-text">Proyectos: {{portafolio.cantidad}}</p>
          <p class="card-text">Avance del protafolio: {{portafolio.avance | number: '1.2-2'}}%</p>
        </div>
      </div>
    </div>
  </div>
</div>
