<app-encabezado [header]="'Pendientes de proyectos'"></app-encabezado>
<p class="text-center d-print-none my-4"><button mat-raised-button color="primary" (click)="refrescar()">Refrescar</button></p>
<div class="container">
  <table class="table table-striped mat-elevation-z20 back" *ngIf="pendientes | async; let pendientes">
    <tbody *ngIf="pendientes.length > 0">
      <tr *ngFor="let proyecto of pendientes">
        <td>
          <p class="lead text-center text-primary">{{proyecto.nombre}}</p>
          <p class="lead">{{proyecto.expediente}}</p>
          <div *ngFor="let pendiente of proyecto.pendientes">
            <p>{{pendiente.generado | date : 'dd/MM/yyyy'}} / {{pendiente.asunto}}</p>
            <p></p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>