<div class="container mt-4">
    <div class="row justify-content-center" *ngIf="isEditor()">
        <button type="button" class="btn btn-success col-md-4 mx-3 mb-4" (click)="mostrar()">
      <fa-icon [icon]="mas"></fa-icon> Nuevo proyecto</button>
    </div>
    <nuevo-proyecto [mostrar]="mostrarNuevo" (noMostrar)="noMostrar()"></nuevo-proyecto>
    <div class="row">
        <info-proyecto class="col-sm-12 col-md-6 col-lg-4 my-3" [datos]="proyecto" [index]="i+1" *ngFor="let proyecto of proyectos$ | async; let i = index" ></info-proyecto>
    </div>
</div>